
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="flash_alert flash_alert-danger fade" role="alert">
                <span class="closebutton" onclick="this.parentElement.remove();">&times;</span>
                {{ message }}
{#                <button type="button" class="closebutton" onclick="this.parentElement.remove();">#}
{#                    <span aria-hidden="true">&times;</span>#}
{#                </button>#}
            </div>
            {% else %}
            <div class="flash_alert flash_alert-success fade" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}
