<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>

<body>

<!-- About Section-->
    <div class="main" id="about">
        <div class="main__container">
            <div class="main__image--container">
                <div class="main__image--card">
                    ICON
                </div>
            </div>
            <div class="main__content">
                <h1>What do we do?</h1>
                <h2>We help businesses scale</h2>
                <p>Schedule a call to learn more about our services.</p>
                <button class="main__btn"><a href="">Schedule Call</a></button>
            </div>
        </div>
    </div>


</body>
</html>