<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/style/contact_style.css">
<link rel="stylesheet" href="../static/style/style.css">
</head>
<body>

<h3>Fill in to contact us</h3>


<div class="container">
  <form action="/action_page.php">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="title">Title</label>
    <input type="text" id="title" name="lastname" placeholder="ex: Page doesn't load..">

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Describe the issue.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>