{% extends "index.html" %}

{% block content %}

<div class="header__">
    <h1>
        <span>
            {{app_data['app_name']}}
        </span>
    </h1>
    <p>Welcome to the hub for datascientists</p>
</div>

    <nav class="navbar">
        <div class="navbar_container">
            <div class="navbar_toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar_menu">
                <li class="navbar_items"><a class="navbar_links" id="home-page" href="#home">Home</a></li>
                <li class="navbar_items"><a class="navbar_links" id="services-page" href="#services">Services</a></li>
                <li class="navbar_items"><a class="navbar_links" id="about-page" href="#about">About</a></li>
                <li class="navbar_items"><a class="navbar_links" id="contact-page" href="#contact">Contact</a></li>
                <li class="navbar_btn">
                    <button class="btn-1" role="button">
                        <a class="navbar_bt" href="login">Login</a>
                    </button>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Home section-->
    <div class="hero" id="home">
        <div class="hero__container">
            <h1 class="hero__heading">An application that makes researching, evaluating and comparing recommendation algorithms easy</h1>
            <p class="hero__description">Focus on implicit feedback collaborative filtering recommendation algorithms</p>
            <button class="main__btn" role="button">
                <a href="#services">Explore</a>
            </button>
        </div>
    </div>

    <!-- Services Section-->
        <div class="services" id="services">
            <h1>Recommendation algorithms</h1>
            <div class="services__wrapper">
                <div class="services__card">
                    <h2>Popularity</h2>
                    <p></p>
                    <div class="services__btn">
                        <button> Start Setup</button>
                    </div>
                </div>
                <div class="services__card">
                    <h2>Recency</h2>
                    <p></p>
                    <div class="services__btn">
                        <button>Start Setup</button>
                    </div>
                </div>
                <div class="services__card">
                    <h2>ItemKNN</h2>
                    <p></p>
                    <div class="services__btn">
                        <button>Start Setup</button>
                    </div>
                </div>
                <div class="services__card">
                    <h2>Coming later</h2>
                    <p></p>
                    <div class="services__btn">
                        <button>Start Setup</button>
                    </div>
                </div>
            </div>
        </div>

    <!-- About Section-->
        <div class="main" id="about">
            <div class="main__container">
                <div class="main__image--container">
                    <div class="main__image--card">
                        <img src="../static/images/1798px-Universiteit_Antwerpen_logo.svg.png">
                    </div>
                </div>
                <div class="main__content">
                    <h1>What do we do?</h1>
                    <h2>We help businesses scale</h2>
                    <p>Schedule a call to learn more about our services.</p>
{#                    <button class="main__btn"><a href="">Schedule Call</a></button>#}
                </div>
            </div>
        </div>

    <!-- Contact section-->
        <div class="contact" id="contact">
            <div class="contact__container">
                <div class="contact__content">
                    <h1>Join Our Team</h1>
                    <h1>Sign up today!</h1>
                    <p>See what makes us different.</p>
                    <button class="contact_btn"><a href="contact">Contact Us</a></button>
                </div>
            </div>
        </div>

	{% include "footer.html" %}


{% endblock %}




