{% extends "index.html" %}


{% block content %}



<div class="header__" id="header">
    <h1>
        <span>
            {{app_data['app_name']}}
        </span>
    </h1>
    <p>Welcome to the hub for datascientists</p>
</div>

    <nav class="navbar" id="navbar">
        <div class="navbar_container">
            <div class="navbar_toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar_menu">
                <li class="navbar_items"><a class="navbar_links" id="home-page" href="#home">Home</a></li>
                <li class="navbar_items"><a class="navbar_links" id="services-page" href="#services">Services</a></li>
                <li class="navbar_items"><a class="navbar_links" id="about-page" href="#about">About</a></li>
                <li class="navbar_items"><a class="navbar_links" id="contact-page" href="#contact">Contact</a></li>
                <li class="navbar_btn">
                    <button class="btn-1" role="button">
                        <a class="navbar_bt" href="login">Login</a>
                    </button>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Home section-->
    <div class="hero" id="home">
        <div class="hero__container">
            <h1 class="hero__heading">An application that makes researching, evaluating and comparing recommendation algorithms easy</h1>
            <p class="hero__description">Implicit feedback collaborative filtering recommendation algorithms</p>
            <button class="main__btn" role="button">
                <a href="#services">Explore</a>
            </button>
        </div>
    </div>

    <!-- Services Section-->
        <div class="services" id="services">
            <h1>Recommendation algorithms</h1>

            <div class="services__wrapper">

                <div class="services__card">

                    <h2>Popularity </h2>
                    <br><br><br><br>
                    <div class="tooltip_btn"> <img src="../static/images/infoButton.png" alt="Info icon">
                        <span class="tooltiptext">
                            This algorithm doesn't give personal recommendations.
                            Every user gets the top-k most popular items of that moment recommended.
                            The parameters are: window size (for popularity calculation) and retrain interval (to decide when the top-k is recalculated again).
                        </span> </div>


                </div>
                <div class="services__card">
                    <h2>Recency</h2>
                    <br><br><br><br>
                    <div class="tooltip_btn"> <img src="../static/images/infoButton.png" alt="Info icon">
                        <span class="tooltiptext">
                            Like the popularity algorithm, the same list is shown to all users, but now based
                            on the most recent items. Recency is based on the first interaction with an item (to estimate when the item was introduced). Parameter: retrain interval.
                        </span> </div>

                </div>
                <div class="services__card">
                    <h2>ItemKNN</h2>
                    <br><br><br><br>
                    <div class="tooltip_btn"> <img src="../static/images/infoButton.png" alt="Info icon">
                        <span class="tooltiptext">
                            The item K-nearest-neighbours algorithm uses a heuristic to
                            determine the "similarity" between items. Next, a personalized recommendation list
                            gets put together for each user based on items that are the most
                            similar to the items in the user's history. Parameters: K,
                            window, normalize and retrain interval.
                        </span> </div>

                </div>
                <div class="services__card">
                    <h2>Coming later</h2>
                    <p></p>

                </div>
            </div>
            <button class="main__btn" role="button">
                <a href="services">Setup</a>
            </button>
        </div>

    <!-- About Section-->
        <div class="main" id="about">
            <div class="main__container">
                <div class="main__image--container">
                    <div class="main__image--card">
                        <img src="../static/images/1798px-Universiteit_Antwerpen_logo.svg.png">
                    </div>
                </div>
                <div class="main__content">
                    <h1>What do we do?</h1>
                    <h2>We help businesses scale</h2>
                    <p>Schedule a call to learn more about our services.</p>
{#                    <button class="main__btn"><a href="">Schedule Call</a></button>#}
                </div>
            </div>
        </div>

    <!-- Contact section-->
        <div class="contact" id="contact">
            <div class="contact__container">
                <div class="contact__content">
                    <h1>Join Our Team</h1>
                    <h1>Sign up today!</h1>
                    <p>See what makes us different.</p>
                    <button class="contact_btn"><a href="contact">Contact Us</a></button>
                </div>
            </div>
        </div>

	{% include "footer.html" %}


{% endblock %}




