<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/user_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/home_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/visualizations_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/item_style.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ url_for('static',filename='jquery-3.2.1.js') }}"></script>
</head>
<body>

{#Navbar section#}
<nav class="navbar" id="navbar">
    <div class="navbar_container">
        <div class="navbar_toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar_menu">
            <li class="navbar_items"><a class="navbar_links" id="home-page" href="home">Home</a></li>
            <li class="navbar_items"><a class="navbar_links" id="services-page" href="services">A/B-test</a></li>
            <li class="navbar_items"><a class="navbar_links" id="datasets-page" href="datasets">Datasets</a></li>
            <li class="navbar_items"><a class="navbar_links" id="visualizations-page" href="visualizations">Visualizations</a></li>
            <li class="navbar_items"><a class="navbar_links" id="testlist-page" href="testlist">Testlist</a></li>
        </ul>
    </div>
</nav>

<form method="POST" action="" name="form1" id="form1">
    <h1 class="main__header">Item Page</h1>
    <div class="container__itemsection_">
        <div class="container__info_">
            <main class="container__layer_">
                <main class="container__column_" id="col1">
                    <table class="item_table flex-fixhead-table">
                        <thead>
                        <tr>
                            <th>Attribute</th>
                            <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for attr, val in attr_val %}
                            <tr>
                                <td data-label="Attribute">{{ attr }}</td>
                                <td data-label="Value">{{ val }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </main>
                <main class="container__column_" id="col2">
                    <main class="container__item_picture_">
                        {% if item_picture %}
                            <img src="{{ item_picture }}" width="100%" height="400px" alt="Picture of an item">
                        {% else %}
                            <img src="" width="100%" height="400px" alt="Picture of an item">
                        {% endif %}
                    </main>
                    <main class="container__selection_">
                        <div class="grid-container_">
                            <div class="grid-item_1_">
                                <select class="select" id="graph_select" name="graph_select">
                                    <option value="Popularity item">Popularity item</option>
                                    <option value="Recommendation count">Recommendation count</option>
                                    <option value="Recommendation correctness">Recommendation correctness</option>
                                </select>
                            </div>
                            <div class="grid-item_1_">
                                <button class="_button" role="button" id="submit_graph" name="submit_graph">
                                    Show graph
                                </button>
                            </div>
                        </div>
                        <div class="grid-container_">
                            <div class="grid-item_1_">
                                <input class="_date" type="date" placeholder="Begin" id="begin_time" name="begin_time" value="2020-01-01" required>
                            </div>
                            <div class="grid-item_1_">
                                <input class="_date" type="date" placeholder="End" id="end_time" name="end_time" value="2020-01-09" required>
                            </div>
                        </div>
                    </main>
                </main>
            </main>
            <main class="container__layer_">
                <main class="container__graph_" id="item_graph"></main>
            </main>
        </div>
    </div>
</form>

<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart', 'bar']});

   $(function() {
       $('#submit_graph').click(function() {
           var form_data = new FormData($('#form1')[0]);
           form_data.append('dataset_id', '{{ dataset_id }}')
           form_data.append('abtest_id', '{{ abtest_id }}')
           form_data.append('item_id', '{{ item_id }}')
           console.log(form_data);
           $.ajax({
               type: 'POST',
               url: '/itemsection_graph',
               data: form_data,
               contentType: false,
               cache: false,
               processData: false,
               success: function(data) {
                   graph(data);
                },
            });
       });
   });

    $('button._button').click(function (e){
        e.preventDefault();
    })

    function graph(data) {
        google.setOnLoadCallback(drawGraph(data));
    }

    function drawGraph(data) {
        var chart;
        var options;
        var dataitems;
        var d = data;

        if (d['graph_type'] == "Popularity item") {
            dataitems = new google.visualization.arrayToDataTable(d['data']);
            chart = new google.charts.Bar(document.getElementById(d['name']));
            options = {
                chartArea: {
                    width: '94%'
                },
                legend: {position: 'none'},
                chart: {
                    title: 'Popularity item',
                },
                vAxis: {
                    title: 'Amount of purchases'
                },
                bar: {groupWidth: "100%"}
            };
            // Convert the Classic options to Material options.
            chart.draw(dataitems, google.charts.Bar.convertOptions(options));
        }
        else if (d['graph_type'] == "Recommendation count") {
            dataitems = new google.visualization.arrayToDataTable(d['data']);
            chart = new google.visualization.LineChart(document.getElementById(d['name']));
            options = {
                chartArea: {
                    width: '94%'
                },
                legend: {position: 'bottom'},
                chart: {
                    title: 'Recommendation count',
                },
                vAxis: {
                    title: 'Amount of recommendations'
                },
                bar: {groupWidth: "100%"},
            };
            // Convert the Classic options to Material options.
            chart.draw(dataitems, options);
        }
        else if (d['graph_type'] == "Recommendation correctness") {
            dataitems = new google.visualization.DataTable();
            dataitems.addColumn('string', 'Date');
            for (var x of d['columns']) {
                dataitems.addColumn('number', x);
            }
            dataitems.addRows(d['data'])
            chart = new google.charts.Bar(document.getElementById(d['name']));
            options = {
                isStacked: true,
                chartArea: {
                    width: '94%'
                },
                legend: {position: 'bottom'},
                curveType: 'function',
                chart: {
                    title: 'Recommendation correctness',
                },
                vAxis: {
                    viewWindow: {
                    }
                },
                series: {

                },
                bar: {groupWidth: "90%"},
            };

            // Adjust series
            for (var y of d['numbers']) {
                options.series[y[0]] = {targetAxisIndex: y[1]};
            }

            options.vAxis.viewWindow.min = 0;
            options.vAxis.viewWindow.max = d['maxYValue'];

            // Convert the Classic options to Material options.
            chart.draw(dataitems, google.charts.Bar.convertOptions(options));
        }
    }
</script>
</body>
</html>