<html>
<head>
<!--	<title>{{app_data['app_name']}}</title>-->

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

<!--	<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4.0.0.min.css') }}">-->
<!--	<link rel="stylesheet" href="{{ url_for('static',filename='style/style.css') }}">-->

<!--	<script src="{{ url_for('static',filename='jquery-3.2.1.js') }}"></script>-->
<!--	<script src="{{ url_for('static',filename='bootstrap-4.0.0.min.js') }}"></script>-->
	<link rel="stylesheet" href="../static/style/login_style.css?v=1">
	<link rel="stylesheet" href="../static/style/style.css?v=1">


</head>
<body>

    <div class="login_page">
        <div class="form">
            <form class="register_form" id="register_form" action="/login" method="post">
                <input type="text" name="firstname" autofocus placeholder="Firstname" required />
                <input type="text" name="lastname" autofocus placeholder="Lastname" required />
                <input type="text" name="username" autofocus placeholder="Username" required />
                <input type="email" name="email" placeholder="Email" required/>
                <input type="password"  name="password" placeholder="Password" required/>
                <button> Create </button>
                <p class="message">Already registered? <a href="#login_form">Login</a></p>
                <button class="cancel__btn"> <a href="home"> Cancel </a> </button>
            </form>

            <form class="login_form" id="login_form">
                <input type="email" autofocus placeholder="Email" required/>
                <input type="password" placeholder="Password" required/>
                <button> Login </button>
                <p class="message">Not registered? <a href="#register_form">Register</a></p>
                <button class="cancel__btn"> <a href="home"> Cancel </a> </button>
            </form>

        </div>
    </div>

    <script src="../static/jquery-3.2.1.js">
    </script>
    <script>
        $('.message a').click(function(){
        $('form').animate({height:"toggle", opacity: "toggle"}, "slow");
        });
    </script>

<!--   <h2>Login Form</h2>-->

<!--    <form action="/action_page.php" method="post">-->

<!--      <div class="container">-->
<!--        <label for="uname"><b>Username</b></label>-->
<!--        <input type="text" placeholder="Enter Username" name="uname" required>-->

<!--        <label for="psw"><b>Password</b></label>-->
<!--        <input type="password" placeholder="Enter Password" name="psw" required>-->

<!--        <button type="submit">Login</button>-->
<!--        <label>-->
<!--          <input type="checkbox" checked="checked" name="remember"> Remember me-->
<!--        </label>-->
<!--      </div>-->

<!--      <div class="container" style="background-color:#f1f1f1">-->
<!--        <button type="button" class="cancelbtn">Cancel</button>-->
<!--        <span class="psw">Forgot <a href="#">password?</a></span>-->
<!--      </div>-->
<!--    </form>-->




</body>
</html>




