<html>
<head>
<!--	<title>{{app_data['app_name']}}</title>-->

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

	<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4.0.0.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/style.css') }}">

	<script src="{{ url_for('static',filename='jquery-3.2.1.js') }}"></script>
	<script src="{{ url_for('static',filename='bootstrap-4.0.0.min.js') }}"></script>
	<link rel="stylesheet" href="../static/style/login_style.css">
	<link rel="stylesheet" href="../static/style/style.css">

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="login_page">
        <div class="form">
            <form class="register_form" id="register_form" action="/register" method="post">
                <input type="text" name="firstname" autofocus placeholder="Firstname" required />
                <input type="text" name="lastname" autofocus placeholder="Lastname" required />
                <input type="text" name="username" autofocus placeholder="Username" required />
                <input type="email" name="email" placeholder="Email" required/>
                <input type="password"  name="password" placeholder="Password" required/>
                <button> Create </button>
                <p class="message">Already registered? <a href="#login_form">Login</a></p>
                <button class="cancel__btn"> <a href="home"> Cancel </a> </button>
            </form>

            <form class="login_form" id="login_form" action="/login" method="post">
                <input type="text" name="username" autofocus placeholder="Username" required/>
                <input type="password" name="password" placeholder="Password" required/>
                <button> Login </button>
                <p class="message">Not registered? <a href="#register_form">Register</a></p>
                <button class="cancel__btn"> <a href="home"> Cancel </a> </button>
            </form>

        </div>
    </div>

    <script src="../static/jquery-3.2.1.js">
    </script>
    <script>
        $('.message a').click(function(){
        $('form').animate({height:"toggle", opacity: "toggle"}, "slow");
        });
    </script>

<!--   <h2>Login Form</h2>-->

<!--    <form action="/action_page.php" method="post">-->

<!--      <div class="container">-->
<!--        <label for="uname"><b>Username</b></label>-->
<!--        <input type="text" placeholder="Enter Username" name="uname" required>-->

<!--        <label for="psw"><b>Password</b></label>-->
<!--        <input type="password" placeholder="Enter Password" name="psw" required>-->

<!--        <button type="submit">Login</button>-->
<!--        <label>-->
<!--          <input type="checkbox" checked="checked" name="remember"> Remember me-->
<!--        </label>-->
<!--      </div>-->

<!--      <div class="container" style="background-color:#f1f1f1">-->
<!--        <button type="button" class="cancelbtn">Cancel</button>-->
<!--        <span class="psw">Forgot <a href="#">password?</a></span>-->
<!--      </div>-->
<!--    </form>-->




</body>
</html>




