<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
    <!--    Navbar section-->
    <nav class="navbar">
        <ul class="navbar_items">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <ul class="navbar_btn">
            <li style="float:right">
                <button class="btn-1" role="button">
                    <span>Sign Up</span>
                </button>
            </li>
            <li style="float:right">
                <button class="btn-1" role="button">
                    <span>Login</span>
                </button>
            </li>
        </ul>
    </nav>
</body>
</html>