<html>
<head>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

	<link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-4.0.0.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='style/style.css') }}">

	<script src="{{ url_for('static',filename='jquery-3.2.1.js') }}"></script>
	<script src="{{ url_for('static',filename='bootstrap-4.0.0.min.js') }}"></script>

<style>



</style>
</head>
<body>

<!-- Services Section-->
    <div class="services" id="services">
        <h1>Recommendation algorithms</h1>
        <div class="services__wrapper">
            <div class="services__card">
                <h2>Popularity</h2>
                <p></p>
                <div class="services__btn">
                    <button>Start Setup</button>
                </div>
            </div>
            <div class="services__card">
                <h2>Recency</h2>
                <p></p>
                <div class="services__btn">
                    <button>Start Setup</button>
                </div>
            </div>
            <div class="services__card">
                <h2>ItemKNN</h2>
                <p></p>
                <div class="services__btn">
                    <button>Start Setup</button>
                </div>
            </div>
            <div class="services__card">
                <h2>Coming later</h2>
                <p></p>
                <div class="services__btn">
                    <button>Start Setup</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>




