<html>
<head>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='style/testlist_style.css') }}">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/navbar.css') }}">
    <script src="{{ url_for('static',filename='jquery-3.2.1.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap-4.0.0.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<style>
    * {
        margin: 0;
        padding: 0;
        font-family: 'Kumbh Sans', sans-serif;
        scroll-behavior: smooth;
    }

    .tableborder {
        border: 1px solid lightgray;
        padding: 50px;
        height: 500px;
        overflow-y: auto;
    }

    tr {
        height: 60px;
        vertical-align: middle;
    }
</style>
<body>

<nav class="navbar" id="navbar">
    <div class="navbar_container">
        <div class="navbar_toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar_menu">
            <li class="navbar_items"><a class="navbar_links" id="home-page" href="home">Home</a></li>
            <li class="navbar_items"><a class="navbar_links" id="datasets-page" href="datasets">Datasets</a></li>
            <li class="navbar_items"><a class="navbar_links" id="services-page" href="services">A/B-test</a></li>
            <li class="navbar_items"><a class="navbar_links" id="testlist-page" href="testlist">Testlist</a></li>
        </ul>
    </div>
</nav>

<h1 style="margin-top: 30px; margin-bottom: 25px;text-align: center;">A/B-tests</h1>

<div class="_pagecontainer">
    <div class="_container flex-direction">
        <div class="table-responsive" id="table1" style="margin-top: 50px;">

            <div class="tableborder">
                <table class="table table-hover">
                    <thead>
                    <tr style="text-align: center">
                        <th>ID</th>
                        <th>Dataset ID</th>
                        <th>Dataset Name</th>
                        <th>Starting Point</th>
                        <th>End point</th>
                        <th>Stepsize</th>
                        <th>Top-k</th>
                        <th>Algorithms</th>
                        <th>
                            <div style="color: red;">Remove</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody style="overflow-y: auto;">
                    {% for item in testList %}
                        <tr style="text-align: center" id="{{ item['abtest_id'] }}"
                            onclick="showAlgorithms({{ item['algorithms'] }})">
                            <td style="text-decoration: underline;color: #0000EE;cursor: pointer;"
                                onclick="goToTestList({{ item['abtest_id'] }}, {{ item['dataset_id'] }});">{{ item['abtest_id'] }}</td>
                            <td>{{ item['dataset_id'] }}</td>
                            <td>{{ item['dataset_name'] }}</td>
                            <td>{{ item['startingpoint'] }}</td>
                            <td>{{ item['endpoint'] }}</td>
                            <td>{{ item['stepsize'] }}</td>
                            <td>{{ item['topk'] }}</td>
                            <td>{{ item['algorithms']|length }}</td>
                            <td>
                                <div style="color:red; cursor: pointer;"
                                     onclick="removeABTest({{ item['abtest_id'] }})">&times;
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="table-responsive" id="table2" style="margin-top: 50px;">

            <div class="tableborder">
                <table class="table table-hover" style="font-size: 12px;">
                    <thead>
                    <tr style="text-align: center">
                        <th>Algorithm Name</th>
                        <th>K</th>
                        <th>Windowsize</th>
                        <th>Normalize</th>
                        <th>Retraininterval</th>
                    </tr>
                    </thead>
                    <tbody style="overflow-y: auto;" id="algo_table_body">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    function removeABTest(abtest_id) {
        // Remove from the HTML
        var row = document.getElementById(abtest_id.toString());
        row.remove();

        $.ajax({
            type: 'POST',
            url: '/abTestRemove',
            data: JSON.stringify({'abtest_id': abtest_id}),
            contentType: 'application/json; charset=utf-8',
            cache: false,
            processData: false,
            success: function (data) {

            },
        });

    }

    function goToTestList(abtest_id, dataset_id) {
        let url = window.location.href
        let url_string = url.substring(0, url.lastIndexOf("/"))
        window.location.href = url_string + "/visualizations" + "?abtest_id=" + abtest_id.toString() + "&dataset_id=" + dataset_id.toString() + "&page=testlist" // de redirect naar andere pagina in javascript
        console.log(window.location.href)
    }

    function showAlgorithms(algorithm_values) {

        var attrElem = document.getElementById("algo_table_body");
        var _html = "";

        for ([key, val] of Object.entries(algorithm_values)) {

            let windowsize = "/";
            let retraininterval = "/";
            let K = "/";
            let normalize = "/";
            if (val[0] === "popularity") {
                windowsize = val[1]['windowsize'];
                retraininterval = val[1]['retraininterval'];
            } else if (val[0] === "recency") {
                retraininterval = val[1]['retraininterval'];
            } else {
                windowsize = val[1]['window'];
                retraininterval = val[1]['retraininterval'];
                K = val[1]['k'];
                normalize = val[1]['normalize'];
            }

            _html += "<tr style=\"text-align: center\" id=\"" + key + "\">";
            _html += "<td>" + val[0] + "</td>";
            _html += "<td>" + K + "</td>";
            _html += "<td>" + windowsize + "</td>";
            _html += "<td>" + normalize + "</td>";
            _html += "<td>" + retraininterval + "</td>";
            _html += "</tr>";
        }

        attrElem.innerHTML = _html;

    }

    const menu = document.getElementById("mobile-menu");
    const menuLinks = document.querySelector(".navbar_menu")
    // Display Mobile Menu
    const mobileMenu = () => {
        menu.classList.toggle('is-active');
        menuLinks.classList.toggle('active');
    }

    menu.addEventListener('click', mobileMenu);

</script>

</body>
</html>




