<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style/user_style.css') }}">
</head>
<body>

    <div class="container__usersection">

<!--        info-->
        <div class="container__info">
            <div class="container__header_attributes">
                <h2>DATASET: {{ datasetname }}</h2>
            </div>
<!--            username-->
            <div class="container__header_attributes">
                <h2>CUSTOMER ID: {{ username }}</h2>
            </div>
            <div class="container__info_his_grp">
                <main class="container__info_history">
                    <div class="st_wrap_table" >
                        <header class="history_table_header">
                            <h2>Purchases of the user</h2>
                            <div class="history_row">
                                <div class="history_column_header">{{ abtestInterval }}</div>
                            </div>
                        </header>
                        <div class="history_table">
                            <div class="history_table_items">
                                    {#TODO: index moet nog aanpasbaar worden#}
                                 {% for item, recommended in history[0] %}
                                    <div class="history_table_rows">
                                        <div class="history_column_item">{{ item }}</div>

                                        {% if recommended %}
                                            <div class="history_column_hasImage" style="color: #91ee05">&#9745</div>
                                        {% else %}
                                            <div class="history_column_hasImage" style="color: #b90000">&#9746</div>
                                        {% endif %}

                                    </div>
                                {% endfor %}
                            </div>
                            <div class="history_table_image">

                                {% if url == ""%}
                                    No image
                                {% else %}
                                    <img src="{{ url }}" alt="Item image" style='height: 90%; width: 90%; object-fit: contain'>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </main>
                <div class="container__info_graph">

                    <div class="container__graph">
<!--                        Hier komt dan de grafiek moet overzicht van gekochte recommendations door de user-->
                    </div>
                </div>
            </div>

            <main class="container__info_topk">
                {% set counter = namespace(value=0) %}
                    {#TODO: index moet nog aanpasbaar worden#}
                {% for name, color, datum, recommendation in recommendations[0]%}
                    <div class="st_wrap_table" data-table_id="{{ counter.value }}">
                        <header class="topk_table_header">
                            <h2>Algoritme: {{ name }}</h2>
                            <div class="topk_row">
                                <div class="topk_column_header">Calculation datum: {{ datum }}</div>
                            </div>
                        </header>
                        <div class="topk_table" style="background-color: {{ color }}">
                            {% for row in recommendation %}
                                <div class="topk_table_rows">
                                    {% for item in row %}
                                        <div class="topk_column_item">{{ item }}</div>
                                    {% endfor%}
                                </div>
                            {% endfor %}
                            {% set counter.value = counter.value + 1 %}
                        </div>
                    </div>
                {% endfor %}
            </main>

            <div class="intervalPicker" style="background-color: #0cffff">
                <div class="prevPick">

                </div>
                <div class="nexPick">

                </div>
            </div>

        </div>
    </div>



</body>
</html>