<html>
<head>

    <title>Recommended4you - Visualisation</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/user_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/home_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/visualizations_style.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ url_for('static',filename='jquery-3.2.1.js') }}"></script>

</head>
<body>

{#Navbar section#}
<nav class="navbar" id="navbar">
    <div class="navbar_container">
        <div class="navbar_toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar_menu">
            <li class="navbar_items"><a class="navbar_links" id="home-page" href="home">Home</a></li>
            <li class="navbar_items"><a class="navbar_links" id="services-page" href="services">A/B-test</a></li>
            <li class="navbar_items"><a class="navbar_links" id="datasets-page" href="datasets">Datasets</a></li>
            <li class="navbar_items"><a class="navbar_links" id="visualizations-page" href="visualizations">Visualizations</a></li>
            <li class="navbar_items"><a class="navbar_links" id="testlist-page" href="testlist">Testlist</a></li>
        </ul>
    </div>
</nav>

<div class="container__itemsection">

{#    AB-InfoSection#}
    <div class="container__info">
        <div class="split__container">
            <div class="ab_container__info">
                <div class="ab__split">
                    <div class="ab__info">
                        <p>AB-test ID:</p>
                        <p id="abtest_id"></p>
                    </div>
                    <div class="ab__info">
                        <p>Dataset name:</p>
                        <p id="dataset_name"></p>
                    </div>
                    <div class="ab__info">
                        <p>Startpoint:</p>
                        <p id="startpoint"></p>
                    </div>
                </div>
                <div class="ab__split">
                    <div class="ab__info">
                        <p>Stepsize:</p>
                        <p id="stepsize"></p>
                    </div>
                    <div class="ab__info">
                        <p>Top-k:</p>
                        <p id="topk"></p>
                    </div>
                    <div class="ab__info">
                        <p>Endpoint:</p>
                        <p id="endpoint"></p>
                    </div>
                </div>
            </div>
            <div class="ab_container__table" id="algorithmTable">
                <div class="ab_container__table_row" style="background-color: #d2d8de">
                    <div class="ab_container__table_column" style="font-weight: bold; width: 50px" >Number</div>
                    <div class="ab_container__table_column" style="font-weight: bold" >Name</div>
                    <div class="ab_container__table_column" style="font-weight: bold" >K</div>
                    <div class="ab_container__table_column" style="font-weight: bold" >Windowsize</div>
                    <div class="ab_container__table_column" style="font-weight: bold" >Normalize</div>
                    <div class="ab_container__table_column" style="font-weight: bold" >Retraininterval</div>
                </div>
            </div>
            <div class="ab_container__table">
                <button onclick="window.location.href='{{ url_for('usersection', dataset_id=1, customer_id=253864, abtest_id=186) }}';">User page</button>
            </div>
       </div>
        <div class="split__container">
            <div class="ab_container__info">
                <div class="metric__info_purch_active">
                    <h2>
                        Total purchases:
                    </h2>
                    <p id="purchases">

                    </p>
                </div>
                <div class="metric__info_purch_active">
                    <h2>
                        Active users:
                    </h2>
                    <p id="users">

                    </p>
                </div>
            </div>
            <div class="metric_container__graph" id="user_purch_graph"></div>
            <div class="metric_container__graph" id="ctr_arad_graph"></div>
            <div class="metric_container__graph" id="arpuad_graph" ></div>
        </div>
    </div>
</div>
</body>

<script>



    document.getElementById("abtest_id").innerHTML = "";
    document.getElementById("dataset_name").innerHTML = "";
    document.getElementById("startpoint").innerHTML = "";
    document.getElementById("stepsize").innerHTML = "";
    document.getElementById("topk").innerHTML = "";
    document.getElementById("endpoint").innerHTML = "";
    document.getElementById("purchases").innerHTML = "";
    document.getElementById("users").innerHTML = "";
    {#fetchStatus();#}
    var interval = null;
    function fetchStatus() {
        fetch(`/visualizations/update`)
            .then(function (response) {
                return response.text();
            })
            .then(function (text){
                let info = JSON.parse(text)
                if (Object.keys(info).length > 0){
                    document.getElementById("abtest_id").innerHTML = info["abtest_id"];
                    document.getElementById("dataset_name").innerHTML = info["datasetname"];
                    document.getElementById("startpoint").innerHTML = info["startpoint"];
                    document.getElementById("stepsize").innerHTML = info["stepsize"];
                    document.getElementById("topk").innerHTML = info["topk"];
                    document.getElementById("endpoint").innerHTML = info["endpoint"];
                    document.getElementById("purchases").innerHTML = info["totalPurchases"];
                    document.getElementById("users").innerHTML = info["totalUsers"];
                    let dataUsersPurch = info["graphPurchAndUsers"]
                    let algorihtms = info["algorithms"]
                    let ctr = info["ctr"]
                    let arad = info["ar@d"]
                    let arpuad = info["arpu@d"]
                    console.log(algorihtms)
                    google.charts.load('current', {packages: ['corechart', 'line']});
                    google.charts.setOnLoadCallback(drawActUsersAndPurchChart);
                    drawActUsersAndPurchChart(dataUsersPurch);
                    constructAlgorithmTable(algorihtms);
                    drawCTRandARAD(ctr, arad)
                    drawARPUAD(arpuad)
                    clearInterval(interval)
                }
            })
    }


    function drawActUsersAndPurchChart(dataUsersPurch){
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'X');
        data.addColumn('number', 'Purchases');
        data.addColumn('number', 'Active users');

        let dataGraph = []
        for (const [key, value] of Object.entries(dataUsersPurch)){
            dataGraph.push([new Date(key), parseInt(value["purchases"]), parseInt(value['users'])])
        }

        console.log(dataGraph)
        data.addRows(dataGraph);
        console.log(data)

        var options = {
        pointSize: 3,
        title: 'Purchases and active users per day.',
        chartArea: {
          width: '80%'
         },
        width: '100%',
        height: '100%',
        colors: ['#0032ff', '#b90000'],
        legend: { position: 'bottom' }
      };

      var chart = new google.visualization.LineChart(document.getElementById('user_purch_graph'));

      chart.draw(data, options);

    }

     function drawCTRandARAD(ctr, arad){
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'X');

        {# Eerst de kollomen toevoegen #}
         let dates = []
         {#let data_ = []#}
         let count = 0
         for (const [key, value] of Object.entries(ctr)){
            data.addColumn('number', value["type"] + ": " + value["name"] + " — " + value["result_id"])

            if (count == 0){
                for (const [key2, value2] of Object.entries(value["values"])){
                    dates.push([new Date(key2)])
                    {#data_.push([])#}
                }
                count += 1
            }

        }
        for (const [key, value] of Object.entries(arad)){
            data.addColumn('number', value["type"] + ": " + value["name"] + " — " + value["result_id"])
        }

        {#console.log(dates)#}

        {#console.log(ctr)#}

        count = 0
        for (const [key, value] of Object.entries(ctr)){
            for (const [key2, value2] of Object.entries(value["values"])){
                console.log(value2)
                    dates[count].push(value2)
                    count += 1
            }
            count = 0
        }
        for (const [key, value] of Object.entries(arad)){
            for (const [key2, value2] of Object.entries(value["values"])){
                console.log(value2)
                    dates[count].push(value2)
                    count += 1
            }
            count = 0
        }

        console.log(dates)

        {#console.log(dataGraph)#}
        data.addRows(dates);
        {#console.log(data)#}

        var options = {
        pointSize: 3,
        title: 'CTR and ARAD',
        chartArea: {
          width: '80%'
         },
        width: '100%',
        height: '100%',
        colors: ['#9FE3FE', '#9CD0FE', '#9DBEFE', '#9CB5FE', '#9CB5FE', '#C2A5FF', '#D69DFF', '#DF9BFD', '#ED9BEB', '#F49CD3','#FEABB1', '#FECF9F', '#F7FCA8', '#D3FFA7', '#BEFEC4', '#BEFEC4'],
        legend: { position: 'bottom' }
      };

      var chart = new google.visualization.LineChart(document.getElementById('ctr_arad_graph'));

      chart.draw(data, options);

    }

    function drawARPUAD(dataarpuad){

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'X');


        {# Eerst de kollomen toevoegen #}
         let dates = []
         {#let data_ = []#}
         let count = 0
         for (const [key, value] of Object.entries(dataarpuad)){
            data.addColumn('number', value["type"] + ": " + value["name"] + " — " + value["result_id"])

            if (count == 0){
                for (const [key2, value2] of Object.entries(value["values"])){
                    dates.push([new Date(key2)])
                    {#data_.push([])#}
                }
                count += 1
            }

        }

        {#console.log(dates)#}

        {#console.log(ctr)#}

        count = 0
        for (const [key, value] of Object.entries(dataarpuad)){
            for (const [key2, value2] of Object.entries(value["values"])){
                console.log(value2)
                    dates[count].push(value2)
                    count += 1
            }
            count = 0
        }

        console.log(dates)

        {#console.log(dataGraph)#}
        data.addRows(dates);
        {#console.log(data)#}

        var options = {
        pointSize: 3,
        title: 'ARPU@D',
        chartArea: {
          width: '80%'
         },
        width: '100%',
        height: '100%',
        colors: ['#9FE3FE', '#9CD0FE', '#9DBEFE', '#9CB5FE', '#9CB5FE', '#C2A5FF', '#D69DFF', '#DF9BFD', '#ED9BEB', '#F49CD3','#FEABB1', '#FECF9F', '#F7FCA8', '#D3FFA7', '#BEFEC4', '#BEFEC4'],
        legend: { position: 'bottom' }
      };

      var chart = new google.visualization.LineChart(document.getElementById('arpuad_graph'));

      chart.draw(data, options);

    }

    function constructAlgorithmTable(dataAlgo){
        console.log(dataAlgo)
        html_ = ""
        for (const [key, value] of Object.entries(dataAlgo)){

            html_ += "<div class=\"ab_container__table_row\">"
            html_ += "    <div class=\"ab_container__table_column\" style='width: 50px' >" + value["result_id"].toString() + "</div>"
            html_ += "    <div class=\"ab_container__table_column\">" + value["name"] + "</div>"

            let params = value["params"]

            if (params.hasOwnProperty("k")){
                html_ += "    <div class=\"ab_container__table_column\">"+ params["k"] +"</div>"
            }
            else {
                html_ += "    <div class=\"ab_container__table_column\"></div>"
            }
            if (params.hasOwnProperty("windowsize")){
                html_ += "    <div class=\"ab_container__table_column\">"+ params["windowsize"] +"</div>"
            }
            else {
                html_ += "    <div class=\"ab_container__table_column\"></div>"
            }
            if (params.hasOwnProperty("normalize")){
                html_ += "    <div class=\"ab_container__table_column\">"+ params["normalize"] +"</div>"
            }
            else {
                html_ += "    <div class=\"ab_container__table_column\"></div>"
            }
            if (params.hasOwnProperty("retraininterval")){
                html_ += "    <div class=\"ab_container__table_column\">"+ params["retraininterval"] +"</div>"
            }
            else {
                html_ += "    <div class=\"ab_container__table_column\"></div>"
            }
            html_ += "</div>"
        }

        document.getElementById("algorithmTable").innerHTML += html_

    }


    window.addEventListener('load', function () {
        let fetchInterval = 1000;
        interval = setInterval(fetchStatus, fetchInterval)
    })

</script>

</html>




