<html>
<head>

    <title>Recommended4you - Visualisation</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/user_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/home_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/visualizations_style.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ url_for('static',filename='jquery-3.2.1.js') }}"></script>

</head>
<body>

{#Navbar section#}
<nav class="navbar" id="navbar">
    <div class="navbar_container">
        <div class="navbar_toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar_menu">
            <li class="navbar_items"><a class="navbar_links" id="home-page" href="home">Home</a></li>
            <li class="navbar_items"><a class="navbar_links" id="services-page" href="services">A/B-test</a></li>
            <li class="navbar_items"><a class="navbar_links" id="datasets-page" href="datasets">Datasets</a></li>
            <li class="navbar_items"><a class="navbar_links" id="visualizations-page" href="visualizations">Visualizations</a></li>
            <li class="navbar_items"><a class="navbar_links" id="testlist-page" href="testlist">Testlist</a></li>
        </ul>
    </div>
</nav>

<div class="container__itemsection">

{#    AB-InfoSection#}
    <div class="container__info">
        <div class="split__container">
            <div class="ab_container__info">
                <div class="ab__split">
                    <div class="ab__info">
                        <p>AB-test ID:</p>
                        <p id="abtest_id"></p>
                    </div>
                    <div class="ab__info">
                        <p>Dataset name:</p>
                        <p id="dataset_name"></p>
                    </div>
                    <div class="ab__info">
                        <p>Startpoint:</p>
                        <p id="startpoint"></p>
                    </div>
                </div>
                <div class="ab__split">
                    <div class="ab__info">
                        <p>Stepsize:</p>
                        <p id="stepsize"></p>
                    </div>
                    <div class="ab__info">
                        <p>Top-k:</p>
                        <p id="topk"></p>
                    </div>
                    <div class="ab__info">
                        <p>Endpoint:</p>
                        <p id="endpoint"></p>
                    </div>
                </div>
            </div>
            <div class="ab_container__table">

            </div>
            <div class="ab_container__table">
                <button onclick="window.location.href='{{ url_for('usersection', dataset_id=1, customer_id=14, abtest_id=1) }}';">User page</button>
            </div>
       </div>
        <div class="split__container">
            <div class="ab_container__info">
                <div class="metric__info_purch_active">
                    <h2>
                        Total purchases:
                    </h2>
                    <p id="purchases">

                    </p>
                </div>
                <div class="metric__info_purch_active">
                    <h2>
                        Active users:
                    </h2>
                    <p id="users">

                    </p>
                </div>
            </div>
            <div class="metric_container__graph"></div>
            <div class="metric_container__graph"></div>
            <div class="metric_container__graph"></div>
        </div>
    </div>
</div>
</body>

<script>



    document.getElementById("abtest_id").innerHTML = "";
    document.getElementById("dataset_name").innerHTML = "";
    document.getElementById("startpoint").innerHTML = "";
    document.getElementById("stepsize").innerHTML = "";
    document.getElementById("topk").innerHTML = "";
    document.getElementById("endpoint").innerHTML = "";
    document.getElementById("purchases").innerHTML = "";
    document.getElementById("users").innerHTML = "";
    fetchStatus();
    var interval = null;
    function fetchStatus() {
        fetch(`/visualizations/update`)
            .then(function (response) {
                return response.text();
            })
            .then(function (text){
                if (text !== ''){
                    let items = JSON.parse(text)
                    document.getElementById("purchases").innerHTML = items["purchases"].toString()
                    document.getElementById("users").innerHTML = items["users"].toString()
                    clearInterval(interval)
                }

            })
    }


    window.addEventListener('load', function () {
        let fetchInterval = 5000;
        interval = setInterval(fetchStatus, fetchInterval)
    })

</script>

</html>




