<html>
<head>

    <title>Recommended4you - Visualisation</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {#    <link rel="stylesheet" href="{{ url_for('static',filename='style/user_style.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('static',filename='style/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/visualizations_style.css') }}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ url_for('static',filename='jquery-3.2.1.js') }}"></script>


    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"/>
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>


</head>
<body>

{# Navbar section #}
<nav class="navbar" id="navbar">
    <div class="navbar_container">
        <div class="navbar_toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar_menu">
            <li class="navbar_items"><a class="navbar_links" id="home-page" href="home">Home</a></li>
            <li class="navbar_items"><a class="navbar_links" id="datasets-page" href="datasets">Datasets</a></li>
            <li class="navbar_items"><a class="navbar_links" id="services-page" href="services">A/B-test</a></li>
            <li class="navbar_items"><a class="navbar_links" id="testlist-page" href="testlist">Testlist</a></li>
        </ul>
    </div>
</nav>
{# ############## #}

<div class="container__body" id="body_page">

    {# Visualizations page with estimating time #}
    <div class="container__page" id="estimationpage" style="display: flex">

        {# Layer1_es #}
        <div class="container__layer" id="layer1_es">
            {# estimation time head column #}
            <div class="container__column" id="layer1_es_column1">
                {# content column #}
                <div class="container__content" id="layer1_es_column1_content">
                    <h2>Progression execution algorithms AB-test</h2>
                </div>
                {# ############## #}
            </div>
            {# ########################### #}
        </div>
        {# ######### #}

        {# Layer2_es #}
        <div class="container__layer" id="layer2_es">
            {# estimation time table #}
            <div class="container__column" id="layer2_es_column1">
                {# content table #}
                <div class="container__content" id="layer2_es_column1_content">
                    {# Table estimations #}
                    <table class="container__table" id="layer2_es_column1_table">
                        <thead class="container__tablehead" id="layer2_es_column1_table_head">
                        <tr class="container__tablerow" id="layer2_es_column1_table_head_row1">
                            {# Table headers #}
                            <th class="container__tableheadcontent" id="layer2_es_column1_head_row1_column1">
                                Algorithms
                            </th>
                            <th class="container__tableheadcontent" id=layer2_es_column1_head_row1_column2">
                                Estimation time
                            </th>
                            {# ############# #}
                        </tr>
                        </thead>
                        <tbody class="container__tablebody" id="layer2_es_column1_body">
                        {# Table content will be filled with javascript #}
                        </tbody>
                    </table>
                    {# ################# #}
                </div>
                {# ############# #}
            </div>
            {# ##################### #}

        </div>
        {# ######### #}

        {# Layer3_es #}
        <div class="container__layer" id="layer3_es">
            {# Redirect part to visualistation page #}
            <div class="container__column" id="layer3_es_column1">
                {# content button #}
                <div class="container_content" id="layer3_es_column1_content">

                    {# Button redirect to visualization section #}
                        <button class="container__button" id="column3_button" style="visibility: hidden" >View AB-test</button>
                    {# ######################################## #}

                </div>
                {# ############## #}
            </div>
            {# #################################### #}
        </div>
        {# ######### #}
    </div>
    {# ######################################## #}


    {# Visualizations page  when ABtest is done#}
    <div class="container__page" id="visualizationspage" style="display: none" >
        {# Layer1 #}
        <div class="container__layer" id="layer1">

            {# abtest standard parameters #}
            <div class="container__column" id="layer1_column1">

                {# Header standard parameters #}
                <div class="container__head" id="layer1_column1_head">
                    <h2>AB-test information</h2>
                </div>
                {# ########################## #}

                {# content standard parameters #}
                <div class="container__content" id="layer1_column1_content">
                    {# row for abtest id and datasetname#}
                    <div class="container__row" id="layer1_column1_row1">
                        <div class="container__innerColumn" id="layer1_column1_row1_inner1">
                            <p>AB-test ID: </p>
                        </div>
                        <div class="container__innerColumn" id="layer1_column1_row1_inner2">
                            <p id="abtest_id"></p>
                        </div>
                        <div class="container__innerColumn" id="layer1_column1_row1_inner3">
                            <p>Dataset name: </p>
                        </div>
                        <div class="container__innerColumn" id="layer1_column1_row1_inner4">
                            <p id="dataset_name"></p>
                        </div>
                    </div>
                    {# ################################ #}

                    {# row for topk and stepsize#}
                    <div class="container__row" id="layer1_column1_row2">
                        <div class="container__innerColumn" id="layer1_column1_row2_inner1">
                            <p>Top-k: </p>
                        </div>
                        <div class="container__innerColumn" id="layer1_column1_row2_inner2">
                            <p id="topk"></p>
                        </div>
                        <div class="container__innerColumn" id="layer1_column1_row2_inner3">
                            <p>Stepsize: </p>
                        </div>
                        <div class="container__innerColumn" id="layer1_column1_row2_inner4">
                            <p id="stepsize"></p>
                        </div>
                    </div>
                    {# ######################## #}

                    {# row for start-and endpoint#}
                    <div class="container__row" id="layer1_column1_row3">
                        <div class="container__innerColumn" id="layer1_column1_row3_inner1">
                            <p>Startpoint: </p>
                        </div>
                        <div class="container__innerColumn" id="layer1_column1_row3_inner2">
                            <p id="startpoint"></p>
                        </div>
                        <div class="container__innerColumn" id="layer1_column1_row3_inner3">
                            <p>Endpoint: </p>
                        </div>
                        <div class="container__innerColumn" id="layer1_column1_row3_inner4">
                            <p id="endpoint"></p>
                        </div>
                    </div>
                    {# ######################### #}

                </div>
                {# ########################### #}

            </div>
            {# ########################## #}

            <div class="container__mobile">
                {# Total purchases abtest #}
                <div class="container__column" id="layer1_column2">

                    {# Header total purchases #}
                    <div class="container__head" id="layer1_column2_head">
                    <h2>Totale purchases</h2>
                    </div>
                    {# ###################### #}

                    {# content total purchases #}
                    <div class="container__content" id="layer1_column2_content">
                    <p id="purchases"></p>
                    </div>
                    {# ####################### #}

                </div>
                {# ###################### #}

                {# Unique active users abtest #}
                <div class="container__column" id="layer1_column3">

                    {# Header unique active users #}
                    <div class="container__head" id="layer1_column3_head">
                    <h2>Active users</h2>
                    </div>
                    {# ########################## #}

                    {# content unique active users #}
                    <div class="container__content" id="layer1_column3_content">
                    <p id="users"></p>
                    </div>
                    {# ########################### #}

                </div>
                {# ########################## #}
            </div>

        </div>
        {# ###### #}

        {# Layer2 #}
        <div class="container__layer" id="layer2">

            {# Table algorithmes #}
            <div class="container__column" id="layer2_column1">

                {# Content table algorithmes #}
                <div class="container__content" id="layer2_column1_content">
                    {# Added algorithms table #}
                    <table class="container__table" id="layer2_column1_table">
                        <thead class="container__tablehead" id="layer2_column1_table_head">
                        <tr class="container__tablerow" id="layer2_column1_table_head_row1">
                            {# Table headers #}
                            <th class="container__tableheadcontent" id="table_head_row1_column1">Number</th>
                            <th class="container__tableheadcontent" id="table_head_row1_column2">Name</th>
                            <th class="container__tableheadcontent" id="table_head_row1_column3">Retrain interval</th>
                            <th class="container__tableheadcontent" id="table_head_row1_column4">Window size</th>
                            <th class="container__tableheadcontent" id="table_head_row1_column5">Normalize</th>
                            <th class="container__tableheadcontent" id="table_head_row1_column6">K</th>
                            {# ############# #}
                        </tr>
                        </thead>
                        <tbody class="container__tablebody" id="layer2_column1_table_body">
                        {# Table content will be filled with javascript #}
                        </tbody>
                    </table>
                </div>
                {# ######################### #}

            </div>
            {# ################# #}

            {# Graph purchases and active users #}
            <div class="container__column" id="layer2_column2">

                {# Header graph purchases and active users #}
                <div class="container__head" id="layer2_column2_head">
                    <h2>Purchases and active user per day</h2>
                </div>
                {# ######################################## #}

                {# Content graph purchases and active users #}
                <div class="container__content" id="layer2_column2_content">

                </div>
                {# ######################################## #}

            </div>
            {# ################################ #}

        </div>
        {# ###### #}

        {# Layer3 #}
        <div class="container__layer" id="layer3">

            {# Graph ar@d and CTR#}
            <div class="container__column" id="layer3_column1">

                {# Header graph ar@d and CTR #}
                <div class="container__head" id="layer3_column1_head">
                    <h2>CTR and ar@d per timestamp</h2>
                </div>
                {# ######################### #}

                {# Content graph ar@d and CTR #}
                <div class="container__content" id="layer3_column1_content">

                </div>
                {# ########################## #}

            </div>
            {# ################# #}

            {# Graph arpu@d #}
            <div class="container__column" id="layer3_column2">

                {# Header graph arpu@d #}
                <div class="container__head" id="layer3_column2_head">
                    <h2>Arpu@d per timestamp</h2>
                </div>
                {# ################### #}

                {# Content graph apru@d #}
                <div class="container__content" id="layer3_column2_content">

                </div>
                {# #################### #}

            </div>
            {# ############ #}

        </div>
        {# ###### #}

        {# Layer4 #}
        <div class="container__layer" id="layer4">

            <div class="container__mobile">
                                {# Table algorithms with own topk #}
                <div class="container__column" id="layer4_column1">

                    {# Header of the algorithms table #}
                    <div class="container__head" id="layer4_column1_head">
                        <h2>Top-k most recommended</h2>
                    </div>
                    {# ############################## #}

                    {# Content of the algorithms table #}
                    <div class="container__content" id="layer4_column1_content">
                        <div class="container__slidetable" id="table_topkrecommendations"></div>
                    </div>
                    {# ############################### #}

                </div>
                {# ############################## #}

                {# Extra section #}
                <div class="container__column" id="layer4_column2">

                    {# Table  topk most purchased#}
                    <div class="container__column" id="layer4_section2_column1">
                        {# Header of the algorithms table #}
                        <div class="container__head" id="layer4_section2_column1_head">
                            <h2>Top-k most purchased</h2>
                        </div>
                        {# ############################## #}

                        {# Content of the most purchasd table #}
                        <div class="container__content" id="layer4_section2_column1_content">
                            {# Added topk most purchased table #}
                            <table class="container__table" id="layer4_section2_column1_table">
                                <thead class="container__tablehead" id="layer4_section2_column1_table_head">
                                <tr class="container__tablerow" id="layer4_section2_column1_table_head_row1">
                                    {# Table headers #}
                                    <th class="container__tableheadcontent" id="section2_table_head_row1_column1">
                                        Article
                                    </th>
                                    <th class="container__tableheadcontent" id="section2_table_head_row1_column2">
                                        Count
                                    </th>
                                    {# ############# #}
                                </tr>
                                </thead>
                                <tbody class="container__tablebody" id="layer4_section2_column1_table_body">
                                {# Table content will be filled with javascript #}
                                </tbody>
                            </table>
                        </div>
                        {# ############################### #}
                    </div>
                    {# ######################### #}

                    {# Unique active user over time #}
                    <div class="container__column" id="layer4_section2_column2">
                        {# Header of the algorithms table #}
                        <div class="container__head" id="layer4_section2_column2_head">
                            <h2>Unique users</h2>
                        </div>
                        {# ############################## #}

                        {# Content of the algorithms table #}
                        <div class="container__content" id="layer4_section2_column2_content">
                            <p id="unique_users"></p>
                        </div>
                        {# ############################### #}
                    </div>
                    {# ############################ #}

                    {# Total revenue over time #}
                    <div class="container__column" id="layer4_section2_column3">
                        {# Header of the algorithms table #}
                        <div class="container__head" id="layer4_section2_column3_head">
                            <h2>Total revenue</h2>
                        </div>
                        {# ############################## #}

                        {# Content of the algorithms table #}
                        <div class="container__content" id="layer4_section2_column3_content">
                            <p id="total_revenue"></p>
                        </div>
                        {# ############################### #}
                    </div>
                    {# ####################### #}

                </div>
                {# ############ #}
                </div>

            {# Extra section#}
            <div class="container__column" id="layer4_column3">

                {# Table list of active users over time #}
                <div class="container__column" id="layer4_section3_column1">
                    {# Added list of users table #}
                    <table class="container__table" id="layer4_section3_column1_table">
                        <thead class="container__tablehead" id="layer4_section3_column1_table_head">
                        <tr class="container__tablerow" id="layer4_section3_column1_table_head_row1">
                            {# Table headers #}
                            <th class="container__tableheadcontent" id="section3_table_head_row1_column1"
                                style="cursor: pointer" onclick="orderUsers(0)">
                                Active user
                            </th>
                            <th class="container__tableheadcontent" id="section3_table_head_row1_column2"
                                style="cursor: pointer" onclick="orderUsers(1)">
                                Total purchases
                            </th>
                            <th class="container__tableheadcontent" id="section3_table_head_row1_column3"
                                style="cursor: pointer" onclick="orderUsers(2)">
                                Purchases over time
                            </th>
                            <th class="container__tableheadcontent" id="section3_table_head_row1_column4"
                                style="cursor: pointer" onclick="orderUsers(3)">
                                CTR
                            </th>
                            {# ############# #}
                        </tr>
                        </thead>
                        <tbody class="container__tablebody" id="layer4_section3_column1_table_body">
                        {# Table content will be filled with javascript #}
                        </tbody>
                    </table>
                    {# ###################### #}
                </div>
                {# #################################### #}

                {# Slider for changing timestamp interval #}
                <div class="container__column" id="layer4_section3_column2">
                    {# Slider #}
                    <div class="container__slider" id="slider1">
                        {# Header of slider interval #}
                        <div class="container__head" id="layer4_section3_column2_head">
                            <div class="container__sliderdate" id="slider1_date">
                                <h2>Interval: </h2>
                                <p>
                                    <input class="container__sliderinterval" disabled type="text" id="slider1_amount"
                                           size="30">
                                </p>
                            </div>
                        </div>
                        {# ######################### #}

                        {# Content of slider interval #}
                        <div class="container__content" id="layer4_section3_column2_content">
                            <div class="container__sliderrange" id="slider1_range"></div>
                            <div class="container__sliderbutton" id="slider1_button">
                                <button class="container__button" onclick="renewInterval()">RENEW</button>
                            </div>
                        </div>
                        {# ########################## #}
                    </div>
                    {# ##### #}
                </div>
                {# ###################################### #}

            </div>
            {# ############ #}

        </div>
        {# ###### #}

    </div>
    {# ################### #}
</div>

</body>

<script>


    document.getElementById("abtest_id").innerHTML = "";
    document.getElementById("dataset_name").innerHTML = "";
    document.getElementById("startpoint").innerHTML = "";
    document.getElementById("stepsize").innerHTML = "";
    document.getElementById("topk").innerHTML = "";
    document.getElementById("endpoint").innerHTML = "";
    document.getElementById("purchases").innerHTML = "";
    document.getElementById("users").innerHTML = "";
    var interval = null;
    var requestInterval = null;
    let entered = false;
    let requestEntered = false;
    let timesInterval = null;

    var topkPurchases = null
    var topkRecommendations = null
    var listUsers = null
    var sortedUserList = null
    var totaleRevenue = null
    var UniqueUsers = null
    var sortUsers = 0;
    var startPoint = null;
    var endPoint = null;
    var abtest = null;
    var dataset = null;

    let info = null;

    if ((window.location.href).toString().substring((window.location.href).toString().length-8, (window.location.href).toString().length) == "testlist") {
        let fetchInterval = 1000;
        fetchAlgorithmsTime();
        interval = setInterval(fetchStatus, fetchInterval)
        visualizePage();
    }

    function fetchStatus() {
        fetch(`/visualizations/update`)
            .then(function (response) {
                return response.text();
            })
            .then(function (text) {
                let all = JSON.parse(text)
                if (Object.keys(all).length > 0 && entered == false) {
                    entered = true;
                    info = all["visualization"]

                    startPoint = info["startpoint"];
                    endPoint = info["endpoint"];

                    abtest = info["abtest_id"];
                    dataset = info["dataset_id"];

                    document.getElementById("abtest_id").innerHTML = abtest
                    document.getElementById("dataset_name").innerHTML = info["datasetname"];
                    document.getElementById("startpoint").innerHTML = startPoint
                    document.getElementById("stepsize").innerHTML = info["stepsize"]
                    document.getElementById("endpoint").innerHTML = endPoint
                    document.getElementById("topk").innerHTML = info["topk"];
                    document.getElementById("purchases").innerHTML = info["totalPurchases"];
                    document.getElementById("users").innerHTML = info["totalUsers"];
                    let dataUsersPurch = info["graphPurchAndUsers"]
                    let algorihtms = info["algorithms"]
                    let ctr = info["ctr"]
                    let arad = info["ar@d"]
                    let arpuad = info["arpu@d"]

                    google.charts.load('current', {packages: ['corechart', 'line']});
                    {#google.charts.setOnLoadCallback(drawActUsersAndPurchChart);#}
                    google.setOnLoadCallback(function () {
                        drawActUsersAndPurchChart(dataUsersPurch);
                        drawCTRandARAD(ctr, arad)
                        drawARPUAD(arpuad)
                    });
                    {#console.log("oke")#}
                    constructAlgorithmTable(algorihtms);
                    slider();

                    topkPurchases = all["topkPurchases"];
                    topkRecommendations = all["topkRecommendations"];
                    listUsers = all["listUsers"];
                    totaleRevenue = all["totaleRevenue"];
                    UniqueUsers = all["totaleUsers"];
                    sortedUserList = all["sortingOrder"]
                    document.getElementById("total_revenue").innerHTML = totaleRevenue;
                    document.getElementById("unique_users").innerHTML = UniqueUsers;
                    constructListActiveUsers()

                    constructTopkPurchases(topkPurchases);
                    constructTopkRecommendationsPerAlgo(topkRecommendations);
                    clearInterval(interval)
                }
            })
    }

    function slider() {
        $(function () {
            $("#slider1_range").slider({
                range: true,
                min: new Date(startPoint).getTime() / 1000,
                max: new Date(endPoint).getTime() / 1000,
                step: 86400,
                values: [new Date(startPoint).getTime() / 1000, new Date(endPoint).getTime() / 1000],
                slide: function (event, ui) {
                    $("#slider1_amount").val((new Date(ui.values[0] * 1000).toDateString()) + " - " + (new Date(ui.values[1] * 1000)).toDateString());
                }
            });
            $("#slider1_amount").val((new Date($("#slider1_range").slider("values", 0) * 1000).toDateString()) +
                " - " + (new Date($("#slider1_range").slider("values", 1) * 1000)).toDateString());
        });
    }

    function drawActUsersAndPurchChart(dataUsersPurch) {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'X');
        data.addColumn('number', 'Purchases');
        data.addColumn('number', 'Active users');

        let dataGraph = []
        for (const [key, value] of Object.entries(dataUsersPurch)) {
            dataGraph.push([new Date(key), parseInt(value["purchases"]), parseInt(value['users'])])
        }

        {#console.log(dataGraph)#}
        data.addRows(dataGraph);
        {#console.log(data)#}

        var options = {
            pointSize: 3,
            chartArea: {
                width: '80%'
            },
            width: '100%',
            height: '100%',
            colors: ['#0032ff', '#b90000'],
            legend: {position: 'bottom'}
        };

        var chart = new google.visualization.LineChart(document.getElementById('layer2_column2_content'));

        chart.draw(data, options);

    }

    function drawCTRandARAD(ctr, arad) {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'X');

        {# Eerst de kollomen toevoegen #}
         let dates = []
         let count = 0
         for (const [key, value] of Object.entries(ctr)){
            data.addColumn('number', value["type"] + ": " + value["name"] + " — " + value["algorithm_id"])

            if (count == 0) {
                for (const [key2, value2] of Object.entries(value["values"])) {
                    dates.push([new Date(key2)])
                    {#data_.push([])#}
                }
                count += 1
            }

        }
        for (const [key, value] of Object.entries(arad)){
            data.addColumn('number', value["type"] + ": " + value["name"] + " — " + value["algorithm_id"])
        }

        {#console.log(dates)#}

        {#console.log(ctr)#}

        count = 0
        for (const [key, value] of Object.entries(ctr)) {
            for (const [key2, value2] of Object.entries(value["values"])) {
                {#console.log(value2)#}
                dates[count].push(value2)
                count += 1
            }
            count = 0
        }
        for (const [key, value] of Object.entries(arad)) {
            for (const [key2, value2] of Object.entries(value["values"])) {
                {#console.log(value2)#}
                dates[count].push(value2)
                count += 1
            }
            count = 0
        }

        {#console.log(dates)#}

        {#console.log(dataGraph)#}
        data.addRows(dates);
        {#console.log(data)#}

        var options = {
            pointSize: 3,
            chartArea: {
                width: '80%'
            },
            width: '100%',
            height: '100%',
            colors: ['#9FE3FE', '#9CD0FE', '#9DBEFE', '#9CB5FE', '#9CB5FE', '#C2A5FF', '#D69DFF', '#DF9BFD', '#ED9BEB', '#F49CD3', '#FEABB1', '#FECF9F', '#F7FCA8', '#D3FFA7', '#BEFEC4', '#BEFEC4'],
            legend: {position: 'bottom'}
        };

        var chart = new google.visualization.LineChart(document.getElementById('layer3_column1_content'));

        chart.draw(data, options);

    }

    function drawARPUAD(dataarpuad) {

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'X');


        {# Eerst de kollomen toevoegen #}
         let dates = []
         {#let data_ = []#}
         let count = 0
         for (const [key, value] of Object.entries(dataarpuad)){
            data.addColumn('number', value["type"] + ": " + value["name"] + " — " + value["algorithm_id"])

            if (count == 0) {
                for (const [key2, value2] of Object.entries(value["values"])) {
                    dates.push([new Date(key2)])
                    {#data_.push([])#}
                }
                count += 1
            }

        }

        {#console.log(dates)#}

        {#console.log(ctr)#}

        count = 0
        for (const [key, value] of Object.entries(dataarpuad)) {
            for (const [key2, value2] of Object.entries(value["values"])) {
                {#console.log(value2)#}
                dates[count].push(value2)
                count += 1
            }
            count = 0
        }

        {#console.log(dates)#}

        {#console.log(dataGraph)#}
        data.addRows(dates);
        {#console.log(data)#}

        var options = {
            pointSize: 3,
            chartArea: {
                width: '80%'
            },
            width: '100%',
            height: '100%',
            colors: ['#9FE3FE', '#9CD0FE', '#9DBEFE', '#9CB5FE', '#9CB5FE', '#C2A5FF', '#D69DFF', '#DF9BFD', '#ED9BEB', '#F49CD3', '#FEABB1', '#FECF9F', '#F7FCA8', '#D3FFA7', '#BEFEC4', '#BEFEC4'],
            legend: {position: 'bottom'}
        };

        var chart = new google.visualization.LineChart(document.getElementById('layer3_column2_content'));

        chart.draw(data, options);

    }

    function constructAlgorithmTable(dataAlgo) {
        html_ = ""
        for (const [key, value] of Object.entries(dataAlgo)) {

            html_ += "<tr class=\"container__tablerow\">"

            let params = value["params"]


            html_ += "<td class=\"container__tablerowcontent\" data-label=\"Number\">"+ value["algorithm_id"] +"</td>"
            html_ += "<td class=\"container__tablerowcontent\" data-label=\"Name\">"+ value["name"] +"</td>"

            if (params.hasOwnProperty("retraininterval")) {
                html_ += "<td class=\"container__tablerowcontent\" data-label=\"Retrain interval\">" + params["retraininterval"] + "</td>"
            } else {
                html_ += "<td class=\"container__tablerowcontent\" data-label=\"Retrain interval\">/</td>"
            }
            if (params.hasOwnProperty("windowsize")) {
                html_ += "<td class=\"container__tablerowcontent\" data-label=\"Window size\">" + params["windowsize"] + "</td>"
            } else if (params.hasOwnProperty("window")) {
                html_ += "<td class=\"container__tablerowcontent\" data-label=\"Window size\">" + params["window"] + "</td>"
            } else {
                html_ += "<td class=\"container__tablerowcontent\" data-label=\"Window size\">/</td>"
            }
            if (params.hasOwnProperty("normalize")) {
                html_ += "<td class=\"container__tablerowcontent\" data-label=\"Normalize\">" + params["normalize"] + "</td>"
            } else {
                html_ += "<td class=\"container__tablerowcontent\" data-label=\"Normalize\">/</td>"
            }

            if (params.hasOwnProperty("k")) {
                html_ += "<td class=\"container__tablerowcontent\" data-label=\"K\">" + params["k"] + "</td>"
            } else {
                html_ += "<td class=\"container__tablerowcontent\" data-label=\"K\">/</td>"
            }


            html_ += "</tr>"

        }
        document.getElementById("layer2_column1_table_body").innerHTML = html_
    }

    function constructTopkPurchases(dataPurchases) {
        html_ = ""
        for (const [key, value] of Object.entries(dataPurchases)) {

            html_ += "<tr class='container__tablerow'>"
            html_ += "<td class='container__tablerowcontent' style='cursor: pointer' onclick='redirectToItemPage(" + value["item"] + ")' data-label=\"Article\">" + value["name"] + "</td>"
            html_ += "<td class='container__tablerowcontent' data-label=\"Count\">" + value["count"] + "</td>"
            html_ += "</tr>"

        }
      
        document.getElementById("layer4_section2_column1_table_body").innerHTML = html_

    }

    function constructTopkRecommendationsPerAlgo(dataRecommendations) {
        html_ = ""
        for (const [key, value] of Object.entries(dataRecommendations)) {
            html_ += "<div class=\"container__slidetablehead\">"
            html_ += "    <h2>" + value["name"] + "</h2>"
            html_ += "    <p>Algorithm number: " + key.toString() + "</p>"
            html_ +=      "<div class='container__slidetablehead_info'>"
            html_ += "          <p class='container__slidetable_infocolumn'> Item </p>"
            html_ += "          <p class='container__slidetable_infocolumn'> Count </p>"
            html_ +=      "</div>"
            html_ += "</div>"

            html_ += "<div class=\"container__slidetablecontent\">"

            for (const recommendation of value["recommendations"]) {

                html_ += "<div class=\"container__slidetablerow\">"
                html_ += "     <div style='cursor: pointer' onclick='redirectToItemPage(" + recommendation["item"] + ")' class=\"container__slidetablecolumn\">" + recommendation["name"] + "</div>"
                html_ += "     <div class=\"container__slidetablecolumn\">" + recommendation["count"] + "</div>"
                html_ += "</div>"

            }

            html_ += "</div>"

        }
        document.getElementById("table_topkrecommendations").innerHTML = html_
    }

    function constructListActiveUsers() {
        html_ = ""

        let rowCount = 0;

        for (const id of sortedUserList[sortUsers]) {
            html_ += "<tr class='container__tablerow'>"
            html_ += "<td class='container__tableheadcontent' style='cursor: pointer' onclick='redirectToUserPage(" + id + ")' data-label=\"Active user\">" + id + "</td>"
            html_ += "<td class='container__tableheadcontent' data-label=\"Total purchases\">" + listUsers[id]["totalePurchases"] + "</td>"
            html_ += "<td class='container__tableheadcontent' data-label=\"Purchases over time-period\">" + listUsers[id]["purchasesOverTime"] + "</td>"
            html_ += "<td class='container__tableheadcontent' data-label=\"CTR\">" + listUsers[id]["CTR"] + "</td>"
            html_ += "</tr>"

            if (rowCount == 1000) {
                break;
            }
            rowCount += 1;
        }
        document.getElementById("layer4_section3_column1_table_body").innerHTML = html_
    }

    function orderUsers(number) {
        sortUsers = number;
        constructListActiveUsers();
    }

    function fetchRequest() {
        fetch(`/visualizations/updateRequest`)
            .then(function (response) {
                return response.text();
            })
            .then(function (text) {
                let all = JSON.parse(text)
                if (Object.keys(all).length > 0 && requestEntered == false) {
                    requestEntered = true;

                    topkPurchases = all["topkPurchases"];
                    topkRecommendations = all["topkRecommendations"];
                    listUsers = all["listUsers"];
                    totaleRevenue = all["totaleRevenue"];
                    UniqueUsers = all["totaleUsers"];
                    sortedUserList = all["sortingOrder"]

                    constructListActiveUsers()
                    document.getElementById("unique_users").innerHTML = UniqueUsers;
                    document.getElementById("total_revenue").innerHTML = totaleRevenue;
                    constructTopkPurchases(topkPurchases);
                    constructTopkRecommendationsPerAlgo(topkRecommendations);
                    clearInterval(requestInterval);
                }
            })

    }

    function fetchAlgorithmsTime() {
        fetch(`visualizations/exextimes`)
            .then(function (response) {
                return response.text();
            })
            .then(function (times) {
                times = JSON.parse(times)
                let algorithms = times["times"]

                let table = document.getElementById("layer2_es_column1_body")
                let html_ = ""
                for (const row of algorithms) {

                    html_ += "<tr class='container__tablerow'>"
                        html_ += "<td class='container__tableheadcontent' data-label=\"Algorithms\">" + row[0].toString() + "</td>"


                        if  (row[1].toString() == "0.0") {
                            html_ += "<td class='container__tableheadcontent' data-label=\"Estimation time\"> Not calculated yet </td>"
                        }
                        else {
                            html_ += "<td class='container__tableheadcontent' data-label=\"Estimation time\">" + row[1].toString() + " seconds </td>"
                        }

                    html_ += "</tr>"

                }

                table.innerHTML = html_
                console.log(times["finished"])
                if (times["finished"]) {
                    clearInterval(timesInterval)
                    document.getElementById("column3_button").style.visibility = "visible"
                }

            })
    }

    function renewInterval() {

        let start = (new Date($("#slider1_range").slider("values", 0) * 1000)).toISOString().slice(0, 10);
        let end = (new Date($("#slider1_range").slider("values", 1) * 1000)).toISOString().slice(0, 10);

        let data_dict = {"startdate": start, "enddate": end, "abtest_id": abtest, "dataset_id": dataset};

        $.ajax({
            type: 'POST',
            url: '/visualizations/request',
            data: JSON.stringify(data_dict),
            contentType: 'application/json; charset=utf-8',
            cache: false,
            processData: false,
            success: function (data) {
                console.log(data);
                requestInterval = setInterval(fetchRequest, 1000)
                requestEntered = false;
            },
        });

    }

    function redirectToUserPage(id) {
        console.log(id)
        let url__ = window.location.href
        let url__string = url__.replace('http://', '').replace('https://', '').split(/[/?#]/)[0];
        window.location.href = "/usersection?customer_id=" + id.toString() + "&abtest_id=" + abtest.toString() + "&dataset_id=" + dataset.toString();

    }

    function redirectToItemPage(id) {
        console.log(id)
        let url__ = window.location.href
        let url__string = url__.replace('http://', '').replace('https://', '').split(/[/?#]/)[0];
        window.location.href = "/itemsection?item_id=" + id.toString() + "&abtest_id=" + abtest.toString() + "&dataset_id=" + dataset.toString();
    }

    $(function() {
       $('#column3_button').click(function(e) {
           e.preventDefault();
           visualizePage();
       });

    });

    function visualizePage() {
       document.getElementById("estimationpage").style.display = "none";
       document.getElementById("visualizationspage").style.display = "flex";
       document.getElementById("body_page").style.height = "1770px"

        let dataUsersPurch = info["graphPurchAndUsers"]
        let algorihtms = info["algorithms"]
        let ctr = info["ctr"]
        let arad = info["ar@d"]
        let arpuad = info["arpu@d"]

        google.charts.load('current', {packages: ['corechart', 'line']});
        {#google.charts.setOnLoadCallback(drawActUsersAndPurchChart);#}
        google.setOnLoadCallback(function () {
            drawActUsersAndPurchChart(dataUsersPurch);
            drawCTRandARAD(ctr, arad)
            drawARPUAD(arpuad)
        });

    }

    window.addEventListener('load', function () {
        let fetchInterval = 1000;
        fetchAlgorithmsTime();
        interval = setInterval(fetchStatus, fetchInterval)
        timesInterval = setInterval(fetchAlgorithmsTime, fetchInterval)
    })

    const menu = document.getElementById("mobile-menu");

    const menuLinks = document.querySelector(".navbar_menu")

    // Display Mobile Menu
    const mobileMenu = () => {
        menu.classList.toggle('is-active');
        menuLinks.classList.toggle('active');
    }

    menu.addEventListener('click', mobileMenu);

</script>

</html>




