/**********************************/
/*       algemene container       */
/**********************************/
.container__page {
    height: 710px;
}

/**********************************/
/*       layer container       */
/**********************************/
.container__layer {
    margin-bottom: 25px;
}

#form1_layer1,
#form1_layer4,
#form2_layer1,
#form2_layer3 {
    height: 35px;
}

#form1_layer1,
#form2_layer1 {
    margin-top: 50px;
}

#form1_layer2 {
    height: 190px;
}

#form1_layer3 {
    height: 275px;
}

#form2_layer2 {
    height: 580px;
}

/**********************************/
/*       column container         */
/**********************************/
.container__column {
}

#form1_layer1 .container__column,
#form1_layer4 .container__column,
#form2_layer3 .container__column {
    width: 613px;
}

#form1_layer2 .container__column,
#form2_layer2 .container__column {
    flex-direction: column;
}

#form1_layer2 .container__column,
#form1_layer3 .container__column,
#form2_layer2 .container__column {
    width: 400px;
}

#form2_layer1 .container__column {
    width: 1250px;
}

/**********************************/
/*         head container         */
/**********************************/
.container__head {
    width: 400px;
}

/**********************************/
/*       content container        */
/**********************************/
.container__content {
    width: 400px;
}

#form1_layer2 .container__content {
    height: 150px;
}

#form1_layer3 .container__content {
    height: 235px;
}

#form2_layer2 .container__content {
    height: 540px;
    flex-direction: column;
    justify-content: space-evenly;
}

#form2_layer2 #form2_layer2_column2_content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: normal;
}

/**********************************/
/*        button container        */
/**********************************/
.container__button {
}

.container__column button {
    background-color: var(--head-tx-color);
    color: var(--theme-bg-color);
}

#customers_button,
#purchases_button,
#articles_button {
    width: 350px;
    height: 40px;
    background-color: #30799B;
    color: var(--head-tx-color);
}

/**********************************/
/*          link container        */
/**********************************/
.container__link {
    color: var(--theme-bg-color);
}

/**********************************/
/*       inputfile  container     */
/**********************************/
.container__inputfile {
    height: 40px;
}

#purchases_button {
    margin-top: 14px;
}

/**********************************/
/*      typechecker container     */
/**********************************/
.container__typechecker {
    height: 330px;
    width: 350px;
}

/**********************************/
/*       namepicker container     */
/**********************************/
.container__namepicker {
    height: 100px;
    width: 350px;
}

.container__namepicker h4 {
    color: #30799B;
}
