
._container {
    position: relative;

    height: 600px;
    width: 800px;

    background: #ffffff;

    justify-content: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    padding-top: 50px;
    margin-top: 50px;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;

}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;

}

.dataset{
    /*background-color: #131313;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*!*justify-content: center;*!*/
    /*!*align-items: center;*!*/
    /*min-height: 100vh;*/
}
.element {
    display: inline-block;
    /*width: 100px;*/
    /*height: 100px;*/
    /*background: #0c5460;*/
}
.dataset_title {
    color: #c81d1d;
    font-size: 50px;
    /*align-self: center;*/
    /*justify-self: center;*/
    text-align: center;
    /*float: left;*/

}
.dataset h3{
    /*justify-content: left;*/
    float: left;
    margin-bottom: 50px;
    padding-top: 60px;
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff0844 0%, #e15226 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    /*-moz-background-clip: text;*/
    -webkit-text-fill-color: transparent;
    /*-moz-text-fill-color: transparent;*/
    /*margin-bottom: 5rem;*/
    font-size: 2.5rem;
}


/*{#.dataset__wrapper {#}*/
/*    {#display: grid;#}*/
/*{#    grid-template-columns: 1fr 1fr 1fr 1fr;#}*/
/*{#    grid-template-rows: 1fr;#}*/
/*{##}*/
/*{#}#}*/

.dataset__card{

    /*margin: 0;*/
    height: 425px;
    width: 800px;
    border-radius: 4px;
    color: white;
    background-color: #bfbbbb;
    transition: 0.3s ease-in;
    font-size: 25px;

    overflow: hidden;
    overflow-y: scroll;
}

.dataset__header{

    margin-top: 25px;
    margin-bottom: 5px;
    width: 800px;
    height: 50px;
    border-radius: 4px;
    color: white;
    font-size: 25px;
    background-color: #bfbbbb;
    transition: 0.3s ease-in;

    font-weight: bold;

}

.dataset__card, .dataset__header {
    align-self: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dataset__header ul,  .dataset__card ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.dataset__header li, .dataset__card li {
    float: left;
    display: table-cell;
    color: #000000;
    text-align: center;
    width: 50%;
}

.dataset__headerItems {
    height: 10%;
    text-align: center;
    border-bottom: 3px solid #131313;
}

.dataset__headerItems li{
    margin-top: 7px;
}

.dataset__card .dataset__item{
    height: 12%;
    border-bottom: 1px dashed #131313;
}

.dataset__item li{
    margin-top: 12px;
}

.dataset__card .dataset__item:focus{
    background-color: red;
}

.dataset__card p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
}

.showStatbtn {

    margin-top: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dataset__btn {
    /*display: flex;*/
    /*justify-content: right;*/
    /*float: left;*/
    /*margin-left: 800px;*/
    float: right;
    justify-self: center;
    text-align: center;
    align-self: center;
    margin-top: -30px;

}

.button {
    color: white;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #4fd72a;
    font-size: 1rem;

    /*justify-content: right;*/
    /*justify-self: right;*/
}

.button:hover{
    cursor: pointer;
}

.dataset__card:hover{
    /*{#transform: scale(1.075);#}*/
    /*{#transition: 0.3s ease-in;#}*/
    /*cursor: pointer;*/
}

.stat_container {

    border-radius: 25px;
    position: relative;

    height: 1000px;
    width: 1200px;

    background: #000000;

    justify-content: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: 60px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1300px) {
    .dataset{
        padding: 10rem;
    }

    .dataset__wrapper{
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 768px) {
    .dataset__wrapper {
        grid-template-columns: 1fr;
    }
}

.par_form {
    margin-top: 25px;
  box-sizing: border-box;


}

input[type=text], input[type=datetime-local], .container select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
    color: black;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/*table {*/
/*    height: 300px;*/
/*    width: 800px;*/
/*    border-collapse: collapse;*/
/*    !*white-space: nowrap;*!*/
/*    !*text-align: center;*!*/
/*}*/

/*table, tr td {*/
/*    border: 1px solid black;*/
/*    !*height: 50px;*!*/
/*}*/

/*tbody {*/
/*    height:260px;*/
/*    display: block;*/
/*    overflow-y: scroll;*/
/*    overflow-x: hidden;*/
/*}*/

/*thead {*/
/*    width: calc( 100% - 1em)*/
/*}*/

/*thead, tbody tr {*/
/*    display: table;*/
/*    width: 100%;*/
/*    table-layout: fixed;*/
/*}*/

.scroll-table {
    margin-left: auto;
    margin-right: auto;
}

table ,tr td{
    border:1px solid black;
    height: 40px;
}
tbody {
    display:block;
    height:300px;
    overflow-y:scroll;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1.05em );
}
table {
    width:800px;
    text-align: center;
    border-collapse: collapse;
}

td:not(:first-child):not(:last-child) {
  border-right: 0;
  border-left: 0;
}
td:first-child {
  border-right: 0;
  border-left: 1px;
}
td:last-child {
  border-right: 1px;
  border-left: 0;
}

table tbody tr.highlight td {
    background-color: #1e7e34;
}

thead tr td {
    font-weight: bold;
}

/* css for the dataset page */

.giantcontainer {
    margin-top: 35px;
    padding: 10px;
    justify-content: center;
}

._container0 {
    width: 400px;
    /*height: 30px;*/
    background-color: #534e4e;
    border-radius: 5px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 8px;
    margin-bottom: 10px;
}

._container0 select {
    height: 35px;
    /*width: 280px;*/
    background-color: #b8b5b5;
    border-radius: 5px;
}

.c0_select {
    width: 100%;
}

._container1 {
    width: 1000px;
    /*height: 550px;*/
    background-color: #534e4e;
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-evenly;

    padding: 8px;
    flex-wrap: wrap;

    margin-bottom: 10px;

}

._row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

._column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}



.c1_statcontainer {
    /*width: 320px;*/
    height: 260px;
    background-color: #b8b5b5;
    margin: 10px;
    border-radius: 10px;
}

.c1_graphcontainer {
    /*width: 480px;*/
    height: 260px;
    background-color: #b8b5b5;
    margin: 10px;
    border-radius: 10px;

}

.c1_statcontainer h2 {
    color: #03a9f4;
    font-size: 24px;
    margin-top: 10px;
    margin-left: 10px;
}

.c1_statcontainer p {
    color: #000000;
    font-size: 32px;
    text-align: center;
    line-height: 160px;

}

._container2 {
    width: 1000px;
    /*height: 550px;*/
    background-color: #534e4e;
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-evenly;

    padding: 8px;
    flex-wrap: wrap;
    margin-bottom: 10px;

}

.c2_button {
    /*width: 480px;*/
    height: 35px;
    background-color: #b8b5b5;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;

}

._container3 {
    width: 1000px;
    /*height: 550px;*/
    background-color: #534e4e;
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-evenly;

    padding: 8px;
    flex-wrap: wrap;

    margin-bottom: 10px;
}

.c3_namecontainer {
    height: 40px;
    background-color: #b8b5b5;
    margin: 10px;
    border-radius: 10px;
}

.c3_filecontainer {
    height: 260px;
    /*max-width: 330px;*/
    background-color: #b8b5b5;
    margin: 10px;
    border-radius: 10px;
}

.c3_filecontainer h2 {
    color: #03a9f4;
    font-size: 24px;
    /*margin-top: 10px;*/
    /*margin-left: 10px;*/
    text-align: center;
    margin-top: 30px;
}

.c3_filecontainer input {
    color: #000000;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 50px;
}

.c3_button {
    height: 35px;
    background-color: #b8b5b5;
    margin: 10px;
    border-radius: 5px;
}

