
.header__ {
    /*background-color: #1b1e21;*/
    background-image: url("../images/background2.png");
    /*background-size: 100%;*/

    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    height: 26rem;
}

.header__ h1{
    /*background: #9fafca;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to bottom, #9fafca 55%, rgba(66, 255, 243, 0.50));  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to bottom, #9fafca 55%, rgba(66, 255, 243, 0.50)); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    color: #ffffff;
    background-size: 100%;
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    font-weight: bold;
    font-size: 4.5rem;
    display: flex;
    padding: 7.5rem 0 0 0;
    align-items: center;
    justify-content: center;
}

.header__ span{
    align-items: center;
    border: 0;
    border-radius: 15px;
    box-shadow: rgb(255, 255, 255) 0 60px 0 0;
    box-sizing: border-box;
}

.header__ p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

.navbar{
    background-color: #111515;
    height: 4.5rem;
    justify-content: center;
    text-align: center;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
    font-size: 20px;


    /*flex-wrap: wrap;*/
    /*-webkit-box-align: center;*/
    /*align-items: center;*/
    /*-webkit-box-pack: justify;*/
    /*padding: .5rem 1rem;*/
}

.navbar_container {
    display: flex;
    height: 4.5rem;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    margin: 0 100%;
}

.navbar_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}


.navbar_items {
    min-width: 200px;
    border-right: 1px solid white;
}

.navbar_items a{
    transition: all 0.3s ease-in-out;
}

.navbar_items:nth-last-child(1) {
    border-right: none;
    margin-right: 75px;
}


.navbar_links {
    display: block;
    color: white;
    text-align: center;
    padding: 0 3rem;
    text-decoration: none;
}


.navbar_links:hover{
    color: #fdbf01;
    text-decoration: none;
}

.navbar_bt {
    display: block;
    color: white;
    text-align: center;
    padding: 0 3rem;
    text-decoration: none;
    font-weight: bold;
}

.navbar_bt:hover{
    text-decoration: none;
    color: white;

}

.highlight {
    color: #fdbf01;
    border-bottom: 4px solid #fdbf01;
}

/*Veranderd navbar hier naar een knop*/
@media screen and (max-width: 1100px) {

    .navbar {
        width: 100%;
    }

    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 4.5rem;
        z-index: 1;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar_items:nth-last-child(2) {
        margin-right: 0;
    }

    .btn-1{
        padding: 0;
        margin-left: 25px;

    }

    .navbar_menu.active {

        background: #131313;
        top: 100%;
        width: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 80vh;
        font-size: 1.4rem;
        left: 0;
    }

    .navbar_toggle{
        position: absolute;
        right: 1rem;
        top: 1.25rem;
    }

    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fdbf01;
        cursor: pointer;
        display: block;
    }

    .navbar_items {
        border: none;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.btn-1{
    align-items: center;
    background: #fdbf01;
    background: -webkit-linear-gradient(to right, #009fa6, #568ee8, #d3cc50);
    background: linear-gradient(to right, #009fa6, #568ee8, #d3cc50);
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    justify-content: center;
    line-height: 1em;
    max-width: 175px;
    min-width: 175px;

    padding: 3px;
    margin-right: 25px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.btn-1:active,
.btn-1:hover{
    outline: 0;
}

.btn-1:hover a{
    color: rgb(0, 32, 63);
}

.btn-1 a {
    background-color: #131313;
    padding: 10px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.btn-1:hover a {
    background: none;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    color: #fff;
    transition: all 0.3s ease;
}

.services__card button {
    color: white;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #131313;
    font-size: 1rem;
}

.services__card button:hover{
    cursor: pointer;
}

.hero {
    /*background: #000000;*/
    /*background: linear-gradient(to right, #161616, #000000);*/
    /*background: #424040;*/
    /*background: linear-gradient(to bottom, #424040, #161616);*/
    background: white;
    height: 100vh;
    padding: 20px 0;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.hero__heading {
    font-size: 45px;
    margin-bottom: 60px;
    color: #000000;
    font-weight: bold;

}

.hero__description {
    font-size: 30px;
    background: #da22ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
            to right,
            #9114ff,
            #da22ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
            to right,
            #8f0eff,
            #da22ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    /*-moz-background-clip: text;*/
    -webkit-text-fill-color: transparent;
    /*-moz-text-fill-color: transparent;*/
    margin-top: 40px;
}

@media screen and (max-width: 768px) {
    .hero__heading {
        font-size: 60px;
    }

    .hero__description {
        font-size: 40px;
    }
}

/* About Section */
.main {
    background-color: white;
    padding: 10rem 0;

    /*.services{*/
    /*background-color: #131313;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*min-height: 100vh;*/
}

.main h1{
    color: #000000;

    /*background-color: #ff8177;*/
    /*background-image: linear-gradient(to right, #ff0844 0%, #e15226 100%);*/
    /*background-size: 100%;*/
    /*-webkit-background-clip: text;*/
    /*!*-moz-background-clip: text;*!*/
    /*-webkit-text-fill-color: transparent;*/
    /*!*-moz-text-fill-color: transparent;*!*/
    /*!*margin-bottom: 5rem;*!*/
    font-size: 3.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*min-height: 100vh;*/
}


.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;

    margin-left: 230px;
}

.main__content {
    color: #fff;
    width: 100%;
}

.main__content h2 {
    font-size: 20px;
    color: #000000;
    line-height: 150%;
    margin-left: 60px;
    margin-right: 60px;

}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.main__btn {
    font-size: 1.8rem;
    background: #d3cc50;
    background: -webkit-linear-gradient(to right, #009fa6, #568ee8, #d3cc50);
    background: linear-gradient(to right, #009fa6, #568ee8, #d3cc50);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #568ee8;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__image--container{
    text-align: center;
    font-size: 100px;

    /*margin-left: 100px;*/

}
.main__image--container img{
    width: 80%;
}
.main__image--card{
    margin: -150px;
    height: 500px;
    width: 700px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #af148f;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    margin-left: 100px;

}

@media screen and (max-width: 1100px) {
    .main__container{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .main__image--container{
        display: flex;
        justify-content: center;
    }

    .main__image--container img{
        width: 60%;
    }

    .main__image--card{
        height: 425px;
        width: 425px;
        display: flex;

    }

    .main__content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h2 {
        font-size: 15px;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__image--card{
        height: 250px;
        width: 250px;
    }

    .main__image--container img{
        width: 40%;
    }

    .main__content h2 {
        font-size: 10px;
    }

    .main__content p {
        margin-top: 2rem;
    }

    .main__btn{
        padding: 12px 35px;
        margin: 2.5rem 0;
    }

}

/* Services section */

.services{
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.services h1{
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff0844 0%, #e15226 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    /*-moz-background-clip: text;*/
    -webkit-text-fill-color: transparent;
    /*-moz-text-fill-color: transparent;*/
    /*margin-bottom: 5rem;*/
    font-size: 2.5rem;
}


.services__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.services__card{
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    transition: 0.3s ease-in;
}

.services__card:nth-child(2) {
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.services__card:nth-child(3) {
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.services__card h2 {
    text-align: center;
}

.services__card p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
}

.services__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}



.services__card:hover{
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .services{
        padding: 10rem;
    }

    .services__wrapper{
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 768px) {
    .services__wrapper {
        grid-template-columns: 1fr;
    }
}


/* Contact Section */

.contact {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*margin: 25px;*/
}

.contact h1{
    background-color: #ff8177;
    background-image: linear-gradient(to right, #343434 0%, #454545 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    text-align: center;
}

.contact p{
    background-color: #ff8177;
    background-image: linear-gradient(to right, #343434 0%, #454545 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    text-align: center;
}

.contact__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: left;
    margin-bottom: 51px; /* 11px + 40px */
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 650px;
    padding: 0 0;
}

.contact__content {
    margin: 0;
    height: 350px;
    width: 600px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    background-image: linear-gradient(to right, #a5fced, #2dc096 100%);
}

.contact_btn {
    font-size: 1.8rem;
    /*background: #833ab4;*/
    /*background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);*/
    /*background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);*/
    background: #d3cc50;
    background: -webkit-linear-gradient(to right, #50cc55, #568ee8);
    background: linear-gradient(to right, #50cc55, #568ee8);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    width: 400px;
    margin-left: 100px;
    margin-bottom: 20px;
    transition: all 0.35s;
}

.contact_btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.contact_btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #917dd9;
    transition: all 0.35s;
    border-radius: 4px;
}

.contact_btn:hover {
    color: #fff;
}

.contact_btn:hover:after {
    width: 100%;
}

.tooltip_btn{
    position: relative;
    /*padding: 5px 12px;*/
    /*border-radius: 100%;*/
    font-size: 20px;
    cursor: help;
    align-self: center;
    /*margin-top: 20px;*/
}
.tooltip_btn .tooltiptext{
    visibility: hidden;
    background-color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    color: white;
    font-size: 16px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;

    width: 300px;
    bottom: 100%;
    left: 50%;
    margin-left: -150px; /* Use half of the width (120/2 = 60), to center the tooltip */

    opacity: 0;
    transition: opacity 1s;
}
.tooltip_btn:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.tooltip_btn .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
