/**********************************/
/*       algemene container       */
/**********************************/
.container__page {
    height: 1350px;

}

/**********************************/
/*       layer container       */
/**********************************/
.container__layer {
    height: 613px;
}

/**********************************/
/*       column container       */
/**********************************/
.container__column {
    height: 613px;
}

#layer1_column1,
#layer1_section1 {
    margin-top: 50px;
}

#layer1_column1,
#layer1_section1,
#layer1_section1_column1,
#layer1_section1_column2 {
    width: 613px;
}

#layer2_column1 {
    width: 1250px;
    margin-top: 25px;
    margin-bottom: 50px;
}

#layer1_section1 {
    background-color: transparent;
    box-shadow: none;
    border: none;
    flex-direction: column;
    justify-content: space-between;
}

#layer1_section1_column1 {
    height: 400px;
}

#layer1_section1_column2 {
    height: 188px;
}

/**********************************/
/*         head container         */
/**********************************/
.container__head {
}

#section1_column1_head {
    width: 613px;
}

#layer2_column1_head {
    width: 1250px;
    margin-bottom: 25px;
}

/**********************************/
/*       content container        */
/**********************************/
.container__content {
}

#layer1_column1_content,
#section1_column1_content,
#section1_column2_content {
    width: 613px;
}

#layer1_column1_content {
    height: 613px;
}

#section1_column1_content {
    height: 360px;
}

#section1_column2_content {
    height: 188px;
    flex-direction: column;
}

#layer2_column1_content {
    width: 1250px;
    height: 554px;
}

/**********************************/
/*        table container         */
/**********************************/
.container__table {
    width: 613px;
    height: 613px;
}

.container__head {
    width: 613px;
    height: 40px;
}

.container__tableheadcontent {
    height: 20px;
}

.container__tablerow {
    min-height: 39px;
    border-bottom: 1px solid lightgrey;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}

/**********************************/
/*          row container         */
/**********************************/
.container__row {
    width: 600px;
    height: 90px;
}

/**********************************/
/*      innercolumn container     */
/**********************************/
.container__innerColumn {
    width: 300px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/**********************************/
/*        select container        */
/**********************************/

.container__select,
.container__button,
#section1_row2 input {
    height: 40px;
    width: 250px;
    font-size: 15px;
    border: 1px solid var(--theme-bg-color);
    border-radius: var(--dash-bd-radius);
    box-shadow: var(--dash-sh-style);
    cursor: pointer;
}

.container__select {
    text-align: center;
    align-content: center;
    align-items: center;
}

/**********************************/
/*        button container        */
/**********************************/
.container__button {
    background-color: transparent;
    color: transparent;
}

.container__button button {
    color: var(--theme-bg-color);
    background-color: var(--head-tx-color);
    border: none;
    font-weight: bold;
    width: 240px;
    height: 40px;
    cursor: pointer;
}

/**********************************/
/*        input  container        */
/**********************************/
#section1_row2 input {
    font-weight: bold;
    color: var(--theme-bg-color);
    text-align: center;
}


.container__column #layer2_buttongraph {
    visibility: hidden;
}

/****************1350 MEDIA SECTION******************/
@media screen and (max-width: 1350px) {
    /**********************************/
    /*     custombody container       */
    /**********************************/
    .container__body {
        height: 2083px;
    }

    /**********************************/
    /*       algemene container       */
    /**********************************/
    .container__page {
        height: 1983px;

    }

    #layer1 {
        width: 613px;
        height: 1290px;
        flex-direction: column;
        margin-bottom: 10px;
        margin-left: 50px;
    }

    #layer1_section1 {
        margin-top: 0px;
    }

    #layer2 {
        width: 613px;
        height: 613px;
        justify-content: center;
        align-content: center;
        margin-left: 50px;
        margin-top: 20px;

    }

    #layer2_column1 {
        transform: rotate(0deg);
    }

    #layer2_column1_head {
        width: 613px;
        margin-bottom: 0;

    }

    #layer2_column1_content {
        width: 613px;
        height: 480px;
        margin-top: 31px;
        margin-bottom: 10px;
    }



    .container__column#layer2 .container__button {
        visibility: visible;
    }
    .container__column #layer2_buttongraph  {
        margin-bottom: 10px;
    }
    .container__column #layer2_buttongraph button{
        visibility: visible;
        border: 1px solid var(--theme-bg-color);
        border-radius: var(--dash-bd-radius);
        box-shadow: var(--dash-sh-style);
    }

    /*.container__mobile_graph {*/
    /*    transform: rotate(90deg);*/
    /*    width: 100%;*/
    /*    height: 613px;*/
    /*    display: flex;*/
    /*    !*display: inline;*!*/
    /*    object-fit: contain;*/
    /*}*/



}
/****************************************************/


