._dropdown {
    display: inline-block;
    position: relative;
    margin-bottom: 40px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border:none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
._dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
}
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}
._dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.fa-caret-down {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    margin-left: 10px;

    float: right;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

}



._services{
    background-color: #131313;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    min-height: 100vh;
}

._services h1{
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff0844 0%, #e15226 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    /*-moz-background-clip: text;*/
    -webkit-text-fill-color: transparent;
    /*-moz-text-fill-color: transparent;*/
    /*margin-bottom: 5rem;*/
    font-size: 2.5rem;

    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*.services__wrapper {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr 1fr 1fr;*/
/*    grid-template-rows: 1fr;*/
/*}*/

._services__card{
    margin: 10px;
    height: 200px;
    width: 800px;
    border-radius: 4px;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    /*transition: 0.3s ease-in;*/

    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*._services__card:nth-child(2) {*/
/*    background: #000046;  !* fallback for old browsers *!*/
/*    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  !* Chrome 10-25, Safari 5.1-6 *!*/
/*    background: linear-gradient(to right, #1CB5E0, #000046); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

/*}*/

/*._services__card:nth-child(3) {*/
/*    background: #4AC29A;  !* fallback for old browsers *!*/
/*    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  !* Chrome 10-25, Safari 5.1-6 *!*/
/*    background: linear-gradient(to right, #BDFFF3, #4AC29A); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
/*}*/

._services__card h2 {
    text-align: center;
}

._services__card p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
}

._services__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;

}

._services__card button {
    color: white;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #131313;
    font-size: 1rem;
}

._services__card button:hover{
    cursor: pointer;
}

._services__card:hover{
    /*transform: scale(1.075);*/
    /*transition: 0.3s ease-in;*/
    /*cursor: pointer;*/
}

@media screen and (max-width: 1300px) {
    ._services{
        padding: 10rem;
    }

    ._services__wrapper{
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 768px) {
    ._services__wrapper {
        grid-template-columns: 1fr;
    }
}

.par_form {
  box-sizing: border-box;

}

input[type=text], input[type=datetime-local], .container select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
    color: black;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

._select {
    padding: 50px;
        margin-bottom: 50px;

    /*height: 200px;*/
    /*width: 800px;*/
    /*border-radius: 4px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    justify-content: center;
    color: white;
    background-color: #131313;
    display: block;

    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    text-align: center;

}
.ds_select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}



.__services{
    background-color: #131313;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    min-height: 100vh;
}

.__services h1{
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff0844 0%, #e15226 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    /*-moz-background-clip: text;*/
    -webkit-text-fill-color: transparent;
    /*-moz-text-fill-color: transparent;*/
    /*margin-bottom: 5rem;*/
    font-size: 2.5rem;

    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*.services__wrapper {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr 1fr 1fr;*/
/*    grid-template-rows: 1fr;*/
/*}*/

.__services__card{
    margin: 10px;
    height: 200px;
    width: 800px;
    border-radius: 4px;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    /*transition: 0.3s ease-in;*/

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.__services__card h2 {
    text-align: center;
}

.__services__card p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
}

