/**********************************/
/*           variables            */
/**********************************/
:root {

    --body-bg-color: #E3E9F0;

    --page-bg-color: #F0F2FA;

    --theme-bg-color: #52aacc;

    --dash-bg-color: #FFFFFF;
    --dash-sh-style: 0 0 20px -8px rgb(160 163 198);
    --dash-bd-style: 0 solid #d9dee3;

    --dash-bd-radius: 8px;

    --head-bd-radius: 8px 8px 0 0;
    --head-tx-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

/**********************************/
/*     custombody container       */
/**********************************/
.container__body {

    background-color: var(--body-bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/**********************************/
/*       algemene container       */
/**********************************/
.container__page {
    width: 1350px;
    background-color: var(--page-bg-color);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}



/**********************************/
/*       layer container       */
/**********************************/
.container__layer {
    width: 1250px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/**********************************/
/*       column container       */
/**********************************/
.container__column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--dash-bg-color);
    box-shadow: var(--dash-sh-style);
    border: var(--dash-bd-style);
    border-radius: var(--dash-bd-radius);
}

/**********************************/
/*           head container       */
/**********************************/
.container__head {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--theme-bg-color);
    border-radius: var(--head-bd-radius);
    height: 40px;
}

.container__head h2 {
    color: var(--head-tx-color);
    font-weight: bold;
}

/**********************************/
/*       content container        */
/**********************************/
.container__content {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.container__content p {
    font-size: 35px;
}

/**********************************/
/*          row container         */
/**********************************/
.container__row {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    text-align: center;
}

/**********************************/
/*      innercolumn container     */
/**********************************/
.container__innerColumn {
    margin-left: 10px;
    margin-right: 10px;
}


/**********************************/
/*        button container        */
/**********************************/
.container__button {
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    border-radius: var(--dash-bd-radius);
    border: none;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    background-color: var(--theme-bg-color);
    color: var(--head-tx-color);
}

.container__button button {
    background-color: var(--theme-bg-color);
    color: var(--head-tx-color);

}

/**********************************/
/*          link container        */
/**********************************/
.container__link {
    text-decoration: none;
    color: var(--head-tx-color);
}

/**********************************/
/*        select container        */
/**********************************/
.container__select {

    height: 40px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    color: var(--theme-bg-color);
    background-color: var(--dash-bg-color);
}

/**********************************/
/*       inputfile  container     */
/**********************************/
.container__inputfile {
}

/**********************************/
/*      typechecker container     */
/**********************************/
.container__typechecker {

    border-radius: var(--dash-bd-radius);
    border: 2px solid var(--theme-bg-color);
    box-shadow: var(--dash-sh-style);
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    -webkit-overflow-scrolling: touch;
    display: flex;
    justify-content: space-around;
}

.container__typechecker::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.container__typechecker_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
}

/**********************************/
/*       namepicker container     */
/**********************************/
.container__namepicker {
    border-radius: var(--dash-bd-radius);
    border: 2px solid var(--theme-bg-color);
    box-shadow: var(--dash-sh-style);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    align-content: center;
}

/**********************************/
/*        table container         */
/**********************************/
.container__table {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: var(--dash-bd-radius);
}

.container__tablehead {
    font-size: 20px;
    font-weight: bold;
    background-color: var(--theme-bg-color);
    color: var(--head-tx-color);
    border-radius: var(--head-bd-radius);
}

.container__tablebody {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

}

.container__tablebody::-webkit-scrollbar {
    display: none;
}

.container__tablerow {
    display: flex;
}

.container__tableheadcontent,
.container__tablerowcontent {
    display: flex;
    flex: 1;
    padding: .5em;
    justify-content: center;

}

.container__tablerow td {
    border-bottom: 1px black;
}

/**********************************/
/*        slider container        */
/**********************************/
.container__sliderdate {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    text-align: center;
}

.container__sliderinterval {
    border: 0;
    color: var(--head-tx-color);
    font-weight: bold;
    font-size: 20px;
    background-color: var(--theme-bg-color);
}

.container__sliderrange {
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.container__sliderbutton {
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

/**********************************/
/*      slidetable container      */
/**********************************/
.container__slidetable {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    border-collapse: collapse;
}

.container__slidetable::-webkit-scrollbar {
    display: none;
}

.container__slidetablehead {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: #30799B;
    position: sticky;
    top: 0;
}

.container__slidetablehead h2 {
    color: var(--head-tx-color);
}

.container__slidetablehead p {
    color: var(--head-tx-color);
}

.container__slidetablerow {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom: 1px solid lightgrey;
}

.container__slidetablecolumn {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.container__slidetablehead_info {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
}

.container__slidetablehead_infocolumn {}

/****************1350 MEDIA SECTION******************/
@media screen and (max-width: 1350px)  {
    /**********************************/
    /*       algemene container       */
    /**********************************/
    .container__page {
        width: 713px;
        flex-direction: column;
    }

}