._container {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;

}

._pagecontainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;}

.flex-direction {
    flex-direction: row;
}

@media screen and (min-width: 1236px) {
    #table1 {
        width: 65%;
    }

    #table2 {
        width: 35%;
    }
}

@media screen and (max-width: 1235px) {
    .flex-direction {
        flex-direction: column;
    }

    .table-responsive {
        width: 100%;
    }
}

