._container {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;

}

._pagecontainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.flex-direction {
    flex-direction: row;
}

@media screen and (min-width: 1236px) {
    #table1 {
        width: 65%;
    }
    #table2 {
        width: 35%;
    }
}

@media screen and (max-width: 1235px) {
    .flex-direction {
        flex-direction: column;
    }

    .table-responsive {
        width: 100%;
    }
}

._navbar{
    background-color: #111515;
    height: 4.5rem;
    justify-content: center;
    text-align: center;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
    font-size: 20px;


    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    padding: .5rem 1rem;
}





