html, body{
    height: 1200px;
}

.container__info {
    height: 1200px;
}

.split__container {
    margin-top: 50px;
    height: 1200px;
    width: 600px;
    display: flex;
    /*justify-content: space-evenly;*/
    flex-wrap: wrap;
    flex-direction: column;
}

.ab_container__info {
    width: 600px;
    height: 150px;
    margin-bottom: 50px;
    display: flex;
    /*justify-content: space-evenly;*/
    flex-wrap: wrap;
}

.ab__split {
    width: 295px;
    height: 150px;
    display: flex;
    margin-right: 10px;
    flex-wrap: wrap;
    flex-direction: column;
}

.ab__split:nth-last-child(1) {
    margin-right: 0;
}

.ab__info {
    width: 295px;
    height: 43px;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px -8px rgb(160 163 198);
    border: 0 solid #d9dee3;
    border-radius: 8px;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.ab__info p {
    align-items: center;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}

.ab__info:nth-last-child(1){
    margin-bottom: 0;
}

.ab_container__table {
    width: 600px;
    height: 425px;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px -8px rgb(160 163 198);
    border: 0 solid #d9dee3;
    border-radius: 8px;
    margin-bottom: 50px;
    overflow-y: scroll;
}

.metric__info_purch_active {
    width: 295px;
    height: 150px;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px -8px rgb(160 163 198);
    border: 0 solid #d9dee3;
    border-radius: 8px;
    margin-right: 10px;

}

.metric__info_purch_active:nth-last-child(1){
    margin-right: 0;
}


.metric_container__graph {
    width: 600px;
    height: 267px;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px -8px rgb(160 163 198);
    border: 0 solid #d9dee3;
    border-radius: 8px;
    margin-bottom: 50px;
}

.metric_container__graph:nth-last-child(1) {
    height: 266px;
}

.metric__info_purch_active h2 {
    margin-left: 8px;
    margin-top: 8px;
    color: #03a9f4;
}

.metric__info_purch_active p {
    align-content: center;
    justify-content: center;
    display: flex;
    line-height: 85px;
    font-size: 32px;
    color: black;
}

.ab_container__table_row {
    width: 580px;
    /*margin-left: 3px;*/
    height: 40px;
    border-bottom: lightgray solid 1px;
    background-color: #E3E9F0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.ab_container__table_column {
    width: 100px;
}