/**********************************/
/*       Estimation section       */
/**********************************/

#estimationpage {
    width: 713px;
    height: 713px;
}

#layer1_es,
#layer2_es,
#layer3_es{
    margin-left: 50px;
    width: 613px;
}

#layer1_es {
    margin-top: 50px;
    margin-bottom: 0;
}

#layer2_es {
    margin-top: 20px;
    margin-bottom: 20px;
}

#layer3_es {
    margin-top: 0px;
    margin-bottom: 50px;
}


#layer1_es_column1,
#layer3_es_column1 {
    height: 40px;
}

#layer1_es_column1_content h2{
    color: var(--theme-bg-color);
}

#layer2_es_column1_table,
#layer2_es_column1,
#layer2_es_column1_content{
    height: 493px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#layer3_es_column1_content button {
    background-color: transparent;
    color: var(--theme-bg-color);
    font-size: 22px;
    width: 200px;
}

/**********************************/
/*                                */
/**********************************/


/**********************************/
/*       algemene container       */
/**********************************/
.container__page {
    height: 1670px;
}

/**********************************/
/*       layer container       */
/**********************************/
.container__layer {
}

#layer1 {
    height: 200px;
    margin-top: 50px;
}

#layer2,
#layer3 {
    height: 300px;
}

#layer4 {
    flex-direction: row;
    justify-content: space-between;
    height: 600px;
    margin-bottom: 50px;
}

/**********************************/
/*       column container         */
/**********************************/
.container__column {
    width: 613px;
}

.container__column#layer1 {
    height: 200px;
}

#layer2,
#layer3 {
    height: 300px;
}

#layer1_column2,
#layer1_column3,
#layer4_column1,
#layer4_column2,
#layer4_section2_column1,
#layer4_section2_column2,
#layer4_section2_column3 {
    width: 300px;
}

#layer4_column2 {
    background-color: transparent;
    box-shadow: none;
    border: none;
    flex-direction: column;
    justify-content: space-between;
}

#layer4_section2_column2,
#layer4_section2_column3 {
    height: 140px;
}

#layer4_column3,
#layer4_column3_column1,
#layer4_column3_column2 {
    width: 613px;
}

#layer4_column3 {
    background-color: transparent;
    box-shadow: none;
    border: none;
    flex-direction: column;
    justify-content: space-between;
}

#layer4_section3_column1 {
    height: 457px;
}

#layer4_section3_column2 {
    height: 140px;
}

.container__mobile {
        display: flex;
        flex-wrap: wrap;
        width: 613px;
        justify-content: space-between;
        flex-direction: row;
}


/**********************************/
/*         head container         */
/**********************************/
.container__head {
    width: 613px;
}

#layer1_column2_head,
#layer1_column3_head,
#layer4_column1_head,
#layer4_section2_column1_head,
#layer4_section2_column2_head,
#layer4_section2_column3_head {
    width: 300px;
}

#layer4_column1_head h2 {
    font-size: 20px;
}

#layer4_section2_column1_head {
    height: 20px;
    font-size: 10px;
    margin-bottom: 5px;
}


/**********************************/
/*       content container        */
/**********************************/
.container__content {
    width: 613px;
}

#layer1 .container__content {
    height: 160px;
}

#layer2 .container__content,
#layer3 .container__content {
    height: 260px;
}

#layer1_column2_content,
#layer1_column3_content,
#layer4_column1_content,
#layer4_section2_column1_content,
#layer4_section2_column2_content,
#layer4_section2_column3_content {
    width: 300px;
}

#layer4_column1_content {
    height: 580px;
}

#layer4_section2_column1_content {
    height: 250px;
}

#layer4_section2_column2_content,
#layer4_section2_column3_content,
#layer4_section3_column2_content {
    height: 100px;
    flex-direction: column;
}

#layer1_column1_content {
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}

#layer1_column1_content p {
    font-size: 18px;
}

/**********************************/
/*          row container         */
/**********************************/
.container__row {
    width: 592px;
    height: 50px;
    flex-direction: row;
    margin-left: 10px;
}

.container__innerColumn:nth-child(even) {
    margin-right: 10px;
    text-align: right;
}

.container__innerColumn:nth-child(odd) {
    font-weight: bold;
    margin-left: 10px;
    text-align: left;
    color: var(--theme-bg-color);
}

/**********************************/
/*      innercolumn container     */
/**********************************/
.container__innerColumn {
    margin-left: 0;
    margin-right: 0;
    width: 148px;
}

/**********************************/
/*        section container       */
/**********************************/
.container__section {
}

/**********************************/
/*      select container       */
/**********************************/
.container__select {
}

/**********************************/
/*        input container         */
/**********************************/
.container__input {
}

/**********************************/
/*         button container       */
/**********************************/
.container__button {
    height: 35px;
    width: 100px;
    font-size: 15px;
}

/**********************************/
/*        table container         */
/**********************************/
.container__table {
    width: 613px;
    height: 300px;
}

.container__tablehead {
    height: 40px;
}

.container__tablehead {
    font-size: 12px;
}

.container__tablebody .container__tablerow {
    border-bottom: 1px solid lightgrey;
    min-height: 40px;

}

.container__tableheadcontent {
    padding-top: 1.2em;
}

.container__tablerowcontent {
    padding-top: .7em;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}

#layer4_section2_column1_table {
    height: 260px;
}

#layer4_section2_column1_table_head {
    border-radius: 0;
    height: 20px;
}

#layer4_section2_column1_table_head_row1 {
    font-size: 14px;
}

#layer4_section2_column1_table_head_row1 th {
    padding-top: 0.2em;
}

#layer4_section3_column1_table {
    height: 457px;
}

#layer4_section3_column1_table_head,
#layer4_section3_column1_table_head_row1 {
    height: 40px;
}

#layer4_section3_column1_table_head_row1 {
    font-size: 14px;
}

#layer4_section3_column1_table_head_row1 th {
    padding-top: 0.9em;
}

/**********************************/
/*        slider container        */
/**********************************/
.container__slider {
    height: 140px;
    width: 613px;
}

.container__sliderdate,
.container__sliderrange {
    width: 500px;
}

.container__sliderdate {
    height: 40px;
    justify-content: space-evenly;
}

.container__sliderrange {
    margin-top: 20px;
    margin-bottom: 10px;
}

.container__sliderbutton {
    width: 600px;
}

/**********************************/
/*      slidetable container      */
/**********************************/
.container__slidetable,
.container__slidetablehead,
.container__slidetablerow,
.container__slidetablehead_info {
    width: 300px;
}

.container__slidetable {
    height: 580px;
}

.container__slidetablehead {
    height: 80px;
}

.container__slidetablehead h2,
.container__slidetablehead p,
.container__slidetablehead_info p {
    height: 20px;
}

.container__slidetablehead h2 {
    margin-bottom: 8px;
    font-size: 22px;
}

.container__slidetablehead p {
    font-size: 15px;
}

.container__slidetablerow {
    min-height: 40px;
}

.container__slidetablecolumn {
    width: 130px;
}

.container__slidetablehead_info p {
    width: 110px;
}

/****************1350 MEDIA SECTION******************/
@media screen and (max-width: 1350px) {
    /**********************************/
    /*     custombody container       */
    /**********************************/
    .container__body {
        height: 3160px;
    }

    /**********************************/
    /*       algemene container       */
    /**********************************/
    .container__page {
        height: 3060px;

    }

    #layer1 {
        margin-top: 50px;
        height: 420px;
        flex-direction: column;
        width: 613px;
        margin-left: 50px;
        margin-bottom: 20px;
    }

    #layer2 {
        margin-top: 20px;
        height: 600px;
        flex-direction: column;
        margin-left: 50px;
        width: 613px;
        margin-bottom: 20px;
    }

    #layer3 {
        height: 610px;
        flex-direction: column;
        margin-left: 50px;
        width: 613px;
        margin-bottom: 20px;
    }

    #layer4 {
        height: 1250px;
        width: 613px;
        flex-direction: column;
        margin-left: 50px;

    }

    .container__mobile {
        display: flex;
        flex-wrap: wrap;
        width: 613px;
        justify-content: space-between;
        flex-direction: row;
        /*margin-left: 50px;*/
    }

    #layer4_section3_column1 {
        margin-bottom: 10px;
    }





}
/****************************************************/
