/**********************************/
/*       algemene container       */
/**********************************/
.container__page {
    height: 1670px;
}

/**********************************/
/*       layer container       */
/**********************************/
.container__layer {
}

#layer1 {
    height: 200px;
    margin-top: 50px;
}

#layer2,
#layer3 {
    height: 300px;
}

#layer4 {
    flex-direction: row;
    justify-content: space-between;
    height: 600px;
    margin-bottom: 50px;
}

/**********************************/
/*       column container         */
/**********************************/
.container__column {
    width: 613px;
}

.container__column#layer1 {
    height: 200px;
}

#layer2,
#layer3 {
    height: 300px;
}

#layer1_column2,
#layer1_column3,
#layer4_column1,
#layer4_column2,
#layer4_section2_column1,
#layer4_section2_column2,
#layer4_section2_column3 {
    width: 300px;
}

#layer4_column2 {
    background-color: transparent;
    box-shadow: none;
    border: none;
    flex-direction: column;
    justify-content: space-between;
}

#layer4_section2_column2,
#layer4_section2_column3 {
    height: 140px;
}

#layer4_column3,
#layer4_column3_column1,
#layer4_column3_column2 {
    width: 613px;
}

#layer4_column3 {
    background-color: transparent;
    box-shadow: none;
    border: none;
    flex-direction: column;
    justify-content: space-between;
}

#layer4_section3_column1 {
    height: 457px;
}

#layer4_section3_column2 {
    height: 140px;
}

/**********************************/
/*         head container         */
/**********************************/
.container__head {
    width: 613px;
}

#layer1_column2_head,
#layer1_column3_head,
#layer4_column1_head,
#layer4_section2_column1_head,
#layer4_section2_column2_head,
#layer4_section2_column3_head {
    width: 300px;
}

#layer4_column1_head h2 {
    font-size: 20px;
}

#layer4_section2_column1_head {
    height: 20px;
    font-size: 10px;
    margin-bottom: 5px;
}


/**********************************/
/*       content container        */
/**********************************/
.container__content {
    width: 613px;
}

#layer1 .container__content {
    height: 160px;
}

#layer2 .container__content,
#layer3 .container__content {
    height: 260px;
}

#layer1_column2_content,
#layer1_column3_content,
#layer4_column1_content,
#layer4_section2_column1_content,
#layer4_section2_column2_content,
#layer4_section2_column3_content {
    width: 300px;
}

#layer4_column1_content {
    height: 580px;
}

#layer4_section2_column1_content {
    height: 250px;
}

#layer4_section2_column2_content,
#layer4_section2_column3_content,
#layer4_section3_column2_content {
    height: 100px;
    flex-direction: column;
}

#layer1_column1_content {
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
}

#layer1_column1_content p {
    font-size: 18px;
}

/**********************************/
/*          row container         */
/**********************************/
.container__row {
    width: 592px;
    height: 50px;
    flex-direction: row;
    margin-left: 10px;
}

.container__innerColumn:nth-child(even) {
    margin-right: 10px;
    text-align: right;
}

.container__innerColumn:nth-child(odd) {
    font-weight: bold;
    margin-left: 10px;
    text-align: left;
    color: var(--theme-bg-color);
}

/**********************************/
/*      innercolumn container     */
/**********************************/
.container__innerColumn {
    margin-left: 0;
    margin-right: 0;
    width: 148px;
}

/**********************************/
/*        section container       */
/**********************************/
.container__section {
}

/**********************************/
/*      select container       */
/**********************************/
.container__select {
}

/**********************************/
/*        input container         */
/**********************************/
.container__input {
}

/**********************************/
/*         button container       */
/**********************************/
.container__button {
    height: 35px;
    width: 100px;
    font-size: 15px;
}

/**********************************/
/*        table container         */
/**********************************/
.container__table {
    width: 613px;
    height: 300px;
}

.container__tablehead,
.container__tablebody .container__tablerow {
    height: 40px;
}

.container__tablehead {
    font-size: 12px;
}

.container__tablebody .container__tablerow {
    border-bottom: 1px solid lightgrey;
}

.container__tableheadcontent {
    padding-top: 1.2em;
}

.container__tablerowcontent {
    padding-top: .7em;
}

#layer4_section2_column1_table {
    height: 260px;
}

#layer4_section2_column1_table_head {
    border-radius: 0;
    height: 20px;
}

#layer4_section2_column1_table_head_row1 {
    font-size: 14px;
}

#layer4_section2_column1_table_head_row1 th {
    padding-top: 0.2em;
}

#layer4_section3_column1_table {
    height: 457px;
}

#layer4_section3_column1_table_head,
#layer4_section3_column1_table_head_row1 {
    height: 40px;
}

#layer4_section3_column1_table_head_row1 {
    font-size: 14px;
}

#layer4_section3_column1_table_head_row1 th {
    padding-top: 0.9em;
}

/**********************************/
/*        slider container        */
/**********************************/
.container__slider {
    height: 140px;
    width: 613px;
}

.container__sliderdate,
.container__sliderrange {
    width: 500px;
}

.container__sliderdate {
    height: 40px;
    justify-content: space-evenly;
}

.container__sliderrange {
    margin-top: 20px;
    margin-bottom: 10px;
}

.container__sliderbutton {
    width: 600px;
}

/**********************************/
/*      slidetable container      */
/**********************************/
.container__slidetable,
.container__slidetablehead,
.container__slidetablerow,
.container__slidetablehead_info {
    width: 300px;
}

.container__slidetable {
    height: 580px;
}

.container__slidetablehead {
    height: 80px;
}

.container__slidetablehead h2,
.container__slidetablehead p,
.container__slidetablehead_info p {
    height: 20px;
}

.container__slidetablehead h2 {
    margin-bottom: 8px;
    font-size: 22px;
}

.container__slidetablehead p {
    font-size: 15px;
}

.container__slidetablerow {
    height: 30px;
}

.container__slidetablecolumn {
    width: 130px;
}

.container__slidetablehead_info p {
    width: 110px;
}

/*html, body{*/
/*    height: 1500px;*/
/*}*/

/*.container__info {*/
/*    height: 1500px;*/
/*}*/

/*table {*/
/*    width: initial !important;*/
/*    text-align: center !important;*/
/*    border-collapse: collapse !important;*/
/*    border-radius: 8px !important;*/
/*}*/

/*table, tr td {*/
/*    height: initial !important;*/
/*    border-bottom: none;*/
/*    border-top: 0.5px solid lightgray;*/
/*}*/

/*thead {*/
/*    width: 100% !important;*/
/*    border-radius: 8px 8px 0px 0px !important;*/
/*}*/

/*.split__container {*/
/*    margin-top: 50px;*/
/*    height: 1500px;*/
/*    width: 600px;*/
/*    display: flex;*/
/*    !*justify-content: space-evenly;*!*/
/*    flex-wrap: wrap;*/
/*    flex-direction: column;*/
/*}*/

/*.ab_container__info {*/
/*    width: 600px;*/
/*    height: 150px;*/
/*    margin-bottom: 50px;*/
/*    display: flex;*/
/*    !*justify-content: space-evenly;*!*/
/*    flex-wrap: wrap;*/
/*}*/

/*.ab__split {*/
/*    width: 295px;*/
/*    height: 150px;*/
/*    display: flex;*/
/*    margin-right: 10px;*/
/*    flex-wrap: wrap;*/
/*    flex-direction: column;*/
/*}*/

/*.ab__split:nth-last-child(1) {*/
/*    margin-right: 0;*/
/*}*/

/*.ab__info {*/
/*    width: 295px;*/
/*    height: 43px;*/
/*    background-color: #FFFFFF;*/
/*    box-shadow: 0 0 20px -8px rgb(160 163 198);*/
/*    border: 0 solid #d9dee3;*/
/*    border-radius: 8px;*/
/*    display: flex;*/
/*    margin-bottom: 10px;*/
/*    justify-content: space-between;*/
/*}*/

/*.ab__info p {*/
/*    align-items: center;*/
/*    display: flex;*/
/*    margin-left: 15px;*/
/*    margin-right: 15px;*/
/*}*/

/*.ab__info:nth-last-child(1){*/
/*    margin-bottom: 0;*/
/*}*/

/*.ab_container__table {*/
/*    width: 600px;*/
/*    height: 267px;*/
/*    background-color: #FFFFFF;*/
/*    box-shadow: 0 0 20px -8px rgb(160 163 198);*/
/*    border: 0 solid #d9dee3;*/
/*    border-radius: 8px;*/
/*    margin-bottom: 50px;*/
/*    overflow-y: hidden;*/
/*}*/

/*.metric__info_purch_active {*/
/*    width: 295px;*/
/*    height: 150px;*/
/*    background-color: #FFFFFF;*/
/*    box-shadow: 0 0 20px -8px rgb(160 163 198);*/
/*    border: 0 solid #d9dee3;*/
/*    border-radius: 8px;*/
/*    margin-right: 10px;*/

/*}*/

/*.metric__info_purch_active:nth-last-child(1){*/
/*    margin-right: 0;*/
/*}*/

/*.metric_container__graph {*/
/*    width: 600px;*/
/*    height: 267px;*/
/*    background-color: #FFFFFF;*/
/*    box-shadow: 0 0 20px -8px rgb(160 163 198);*/
/*    border: 0 solid #d9dee3;*/
/*    border-radius: 8px;*/
/*    margin-bottom: 50px;*/
/*}*/

/*.metric_container__graph:nth-last-child(1) {*/
/*    height: 266px;*/
/*}*/

/*.metric__info_purch_active h2 {*/
/*    margin-left: 8px;*/
/*    margin-top: 8px;*/
/*    color: #30799B;*/
/*}*/

/*.metric__info_purch_active p {*/
/*    margin-top: 21px;*/
/*    text-align: center;*/
/*    color: #000000;*/
/*    font-size: large;*/
/*}*/

/*.ab_container__table_row {*/
/*    width: 580px;*/
/*    !*margin-left: 3px;*!*/
/*    height: 40px;*/
/*    border-bottom: lightgray solid 1px;*/
/*    background-color: #E3E9F0;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    align-content: center;*/
/*    text-align: center;*/
/*}*/

/*.ab_container__table_column {*/
/*    width: 100px;*/
/*}*/

/*.container__algemeneinfo {*/
/*    width: 600px;*/
/*    height: 570px;*/
/*    display: flex;*/
/*    !*justify-content: space-between;*!*/
/*    flex-wrap: wrap;*/
/*    flex-direction: column;*/
/*}*/


/*.container__algemeneinfo_split {*/
/*    width: 275px;*/
/*    height: 570px;*/
/*    margin-right: 50px;*/

/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.container__algemeneinfo_layer {*/
/*    width: 275px;*/
/*    height: 260px;*/
/*    margin-bottom: 0px;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.container__algemeneinfo__values {*/
/*    width: 275px;*/
/*    height: 130px;*/

/*    background-color: #FFFFFF;*/
/*    box-shadow: 0 0 20px -8px rgb(160 163 198);*/
/*    border: 0 solid #d9dee3;*/
/*    border-radius: 8px;*/

/*    margin-bottom: 25px;*/

/*}*/

/*.container__algemeneinfo__values h2 {*/
/*    margin-left: 8px;*/
/*    margin-top: 8px;*/
/*    color: #30799B;*/
/*    font-size: x-large;*/
/*}*/

/*.container__algemeneinfo__values p {*/
/*    margin-top: 28px;*/
/*    text-align: center;*/
/*    color: #000000;*/
/*    font-size: x-large;*/
/*}*/

/*!*Dit is tabel voor topk (item, count)*!*/
/*.container__algemeneinfo_topkPurchases {*/

/*    width: 275px;*/
/*    height: 260px;*/

/*    background-color: #FFFFFF;*/
/*    box-shadow: 0 0 20px -8px rgb(160 163 198);*/
/*    border: 0 solid #d9dee3;*/
/*    border-radius: 8px;*/


/*}*/

/*.container__algemeneinfo_topkRecommendations {*/
/*    width: 275px;*/
/*    height: 570px;*/

/*    background-color: #FFFFFF;*/
/*    box-shadow: 0 0 20px -8px rgb(160 163 198);*/
/*    border: 0 solid #d9dee3;*/
/*    border-radius: 8px;*/

/*}*/

/*.container__algemeneinfo_userlist {*/
/*    width: 600px;*/
/*    height: 413px;*/
/*    margin-bottom: 30px;*/

/*    background-color: #FFFFFF;*/
/*    box-shadow: 0 0 20px -8px rgb(160 163 198);*/
/*    border: 0 solid #d9dee3;*/
/*    border-radius: 8px;*/

/*}*/

/*.container__algemeneinfo_slider {*/
/*    width: 600px;*/
/*    height: 127px;*/

/*    background-color: #FFFFFF;*/
/*    box-shadow: 0 0 20px -8px rgb(160 163 198);*/
/*    border: 0 solid #d9dee3;*/
/*    border-radius: 8px;*/

/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*}*/

/*.generalPurpose_table {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    background: #FFFFFF;*/
/*    box-shadow: 0 0 20px -8px rgb(160 163 198);*/
/*}*/

/*.generalPurpose_table thead {*/
/*    background: #30799B;*/
/*    color: #FFFFFF;*/
/*}*/

/*.generalPurpose_table thead tr,*/
/*.generalPurpose_table tbody tr {*/
/*    display: flex;*/
/*}*/

/*.generalPurpose_table tbody tr+tr {*/
/*    border-top: none;*/
/*}*/

/*.generalPurpose_table thead tr th,*/
/*.generalPurpose_table tbody tr td {*/
/*    display: flex;*/
/*    flex: 1;*/
/*    padding: .5em;*/
/*    justify-content: center;*/
/*}*/

/*@media screen and (max-width: 640px) {*/
/*    .generalPurpose_table {*/
/*        border: 0;*/
/*    }*/
/*    .generalPurpose_table thead {*/
/*        display: none;*/
/*    }*/
/*    .generalPurpose_table tbody tr {*/
/*        flex-direction: column;*/
/*        margin: 1em;*/
/*        border: none;*/
/*    }*/
/*    .generalPurpose_table tbody tr td {*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*    }*/
/*    .generalPurpose_table tbody tr td+td {*/
/*        border-top: 1px solid #ccc;*/
/*    }*/
/*    .generalPurpose_table tbody tr td:before {*/
/*        display: flex;*/
/*        align-items: center;*/
/*        margin: -.5em -.5em .75em -.5em;*/
/*        padding: .5em;*/
/*        content: attr(data-label);*/
/*        color: #fff;*/
/*        background: #009485;*/
/*    }*/
/*}*/
/*.flex-fixhead-topKPurchases_table tbody {*/
/*    height: 226px;*/
/*    overflow-y: auto;*/
/*}*/

/*.flex-fixhead-userList_table tbody {*/
/*    height: 363px;*/
/*    overflow-y: auto;*/
/*}*/

/*.flex-fixhead-algorithm_table tbody {*/
/*    height: 250px;*/
/*    overflow-y: auto;*/
/*}*/

/*.flex-fixhead-algorithm_table thead {*/
/*    font-size: small;*/
/*}*/

/*!********************************************!*/

/*.topkRecommendation {*/

/*    width: 275px;*/
/*    height: 570px;*/
/*    overflow-y: scroll;*/
/*    border-radius: 8px;*/
/*    border-collapse: collapse;*/
/*}*/

/*.topkRecommendationHead {*/

/*    width: 260px;*/
/*    height: 60px;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-content: center;*/
/*    align-items: center;*/
/*    text-align: center;*/
/*    background-color: #30799B;*/
/*    position: sticky;*/
/*    top: 0;*/
/*}*/

/*.topkRecommendationHead h2 {*/
/*    font-size: 22px;*/
/*    color: white;*/
/*}*/

/*.topkRecommendationHead p {*/
/*    font-size: 15px;*/
/*    color: white;*/
/*}*/

/*.topkRecommendationRow {*/
/*    width: 260px;*/
/*    height: 30px;*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*    flex-wrap: wrap;*/
/*    border-bottom: 1px solid lightgrey;*/
/*}*/

/*.topkRecommendationColumn {*/
/*    width: 120px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-content: center;*/
/*    align-items: center;*/
/*    text-align: center;*/
/*}*/

/*!********************************************!*/

/*.slider__date {*/
/*    width: 450px;*/
/*    height: 20px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    align-content: center;*/
/*    text-align: center;*/
/*}*/

/*#amount {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    align-content: center;*/
/*    text-align: center;*/
/*}*/

/*.slider__range {*/
/*    width: 450px;*/
/*    height: 20px;*/
/*}*/
/*.slider__button {*/
/*    width: 450px;*/
/*    height: 20px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    align-content: center;*/
/*    text-align: center;*/
/*}*/

/*.style_slider__button button {*/
/*    background-color: #30799B;*/
/*    box-shadow: 0 0 20px -8px rgb(143, 197, 255);*/
/*    border: 0 solid #d9dee3;*/
/*    border-radius: 8px;*/
/*    width: 80px;*/
/*    height: 30px;*/
/*    color: white;*/
/*    font-size: 13px;*/
/*    font-weight: bold;*/
/*    margin-bottom: 10px;*/
/*}*/
